body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container__page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* navigation menu */

.header__page {
  background-color: #333;
  color: #FFF;
}

.logo {
  margin: 25px auto 25px 53px;
}

.header__page, .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 190px;
  height: 30px;
}

/* navigation settings */

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin: 34px 52px 28px auto;
  padding: 0;
}

.navigation__item {
  list-style: none;
}

.navigation__item-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
}

/*
class that defines how the button of the
page we are on will behave
*/

.active {
  text-decoration: underline;
}

/* main information */

.container__main {
  flex: 1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.title__img {
  width: 150px;
  height: 150px;
}

.btn__return {
  font-family: inherit;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: #FFF;
  background-color: #EF4934;
  border: none;
  border-radius: 6px;
  width: 575px;
  height: 70px;
  box-shadow: 0 4px 30px 0;
  margin-bottom: 20px;
}

.title__txt {
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #221F1F;
}

/* footer */

.footer__container {
  background-color: #EF4934;
  margin-top: auto;
}

.heart {
  color: #DADADA;
}

.footer__social-img {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin: 0;
  padding: 30px 0 32px;
}

.footer__txt {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
  margin: 0;
}

.footer__main-txt {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  color: #FFF;
}

.footer__link {
  color: #FFF;
}

@media (max-width: 900px) {

  .header__page, .navigation {
    flex-direction: column;
    align-items: center;
  }

  /* media main */

  .logo {
    margin: 25px 0;
  }

  .title__img {
    width: 100px;
    max-width: 100%;
    height: auto;
  }

  .title {
    margin-top: 20px;
  }

  .btn__return {
    margin-bottom: 20px;
  }

  .navigation {
    margin: 0 0 28px;
    gap: 15px;
  }

  .btn__return {
    width: 320px;
  }

  /* media footer */

  .footer__txt {
    margin: 0 15px;
  }

  /* media text */

  .title__txt {
    font-size: 22px ;
  }

  .footer__main-txt, .main__txt {
    font-size: 16px;
  }

  .navigation__item-link {
    font-size: 14px;
  }
}
