* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #221F1F;
}

.info {
  max-width: 575px;
}

.description {
  font-size: 48px;
  font-weight: 700;
}

.text {
  font-size: 22px;
  font-weight: 400;
}

.link--red {
  color: #EF4934;
}
