* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #221F1F;
  margin: 0 auto;
}

/*HEADER*/

.nav {
  height: 80px;
  background-color: #333;
  width: 100%;
}

.nav__logo {
  display: flex;
  align-items: center;
  width: 190px;
  justify-content: space-between;
}

.logo__title {
  margin-top: 10px;
}

.nav__menu {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #FFF;
  align-items: center;
  width: 260px;
  justify-content: space-between;
}

.menu__link {
  color: #FFF;
  text-decoration: none;
}

.menu__link--active {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.nav__menu li {
  list-style-type: none;
}

.nav__menu li:hover {
  transform: scale(1.1);
}

/*MAIN*/

.main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.info {
  max-width: 575px;
}

.description {
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
}

.text {
  font-size: 22px;
  font-weight: 400;
  margin-top: 28px;
  line-height: 32px;
}

.link--red {
  color: #EF4934;
}


.container {
  width: 1175px;
}

.justify__content--between {
  display: flex;
  justify-content: space-between;
}

.justify__content--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CARDS*/

.title-pokemon {
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
}

.cards {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 22px;
  margin-top: 35px;
}

.card {
  width: 275px;
  height: 288px;
  background-color: #ECECEC;
  padding: 12px 12px 22px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__header {
  display: flex;
  align-items: center;
}

.card__header-title {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #221F1F;
}

.card__footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.card__footer-text {
  display: flex;
  align-items: center;
}

/*GAMES FORM*/

.form__search {
  height: 60px;
  background-color: #221F1F;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #FFF;
}

.form__search-radio,
.form__search-select,
.form__search-checkbox,
.form__search-input {
  display: flex;
  align-items: center;
}

.form__search-select {
  width: 114px;
  height: 36px;
  border-radius: 6px;
  background-color: #333;
  color: #FFF;
  padding: 0 10px;
}

.form__search-radio {
  width: 211px;
  justify-content: space-between;
}

.form__search-checkbox {
  width: 152px;
  justify-content: space-between;
}

.form__search-input-button {
  width: 75px;
  height: 36px;
  border-radius: 0 6px 6px 0;
  background-color: #EF4934;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border: none;
}

.form__search-input-search {
  width: 302px;
  height: 36px;
  border-radius: 6px 0 0 6px;
  border: none;
  padding: 0 40px;
}

.form__search-input-search::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.form__search-input {
  position: relative;
}

.form__search-input-image {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

/*CHECKBOX*/

.login__form-checkbox-input,
.form__search-radio-radio
.form__search-checkbox-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.login__form-checkbox-input + label,
.form__search-radio-radio + label,
.form__search-checkbox-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__search-radio-radio + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #FFF;
  border-radius: 50%; /* Используйте 50% для создания круга */
  margin-right: .5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.login__form-checkbox-input + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #EF4934;
  border-radius: .25em;
  margin-right: .5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form__search-checkbox-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #FFF;
  border-radius: .25em;
  margin-right: .5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.login__form-checkbox-input:checked + label::before,
.form__search-radio-radio:checked + label::before,
.form__search-checkbox-checkbox:checked + label::before {
  border-color: #0B76EF;
  background-color: #0B76EF;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/*LOGIN*/

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login__form {
  width: 575px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login__form-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  color: #221F1F;
}

.login__form-email,
.login__form-password {
  width: 100%;
  height: 108px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login__form-email-input,
.login__form-password-input {
  width: 100%;
  height: 70px;
  border: 1px solid #A9A9A9;
  border-radius: 6px;
  padding-left: 20px;
}

.login__form-email-input::placeholder,
.login__form-password-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #A9A9A9;
}

.login__form-email-label,
.login__form-password-label {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: #221F1F;
}

.login__form-checkbox {
  width: 100%;
}

.block-select {
  display: flex;
  width: 69px;
  height: 24px;
  border-radius: 3px;
  color: #FFF;
  justify-content: center;
  align-items: center;
}

.login__form-button {
  width: 100%;
  height: 70px;
  padding: 27px 258px;
  border-radius: 6px;
  background: #EF4934;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/*RESULT*/

.result {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result__title {
  margin-bottom: 30px;
}

.result__link {
  text-decoration: none;
}

/*HELPER*/

.height100vh {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.text-weight {
  font-weight: 600;
  line-height: 21px;
  margin-right: 10px;
}

.gap-top6 {
  margin-top: 6px;
}

.gap-top12 {
  margin-top: 12px;
}

.gap-right6 {
  margin-right: 6px;
}

.color-background-FDB714 {
  background-color: #FDB714;
}

.color-background-EF4934 {
  background: #EF4934;
}

.color-background-FF87F3 {
  background: #FF87F3;
}

.color-background-3447EF {
  background: #3447EF;
}

.flex-direction-column {
  flex-direction: column;
}
