
body {
  padding: 0 16px;
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.section {
  padding: 24px 0;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section__image {
  max-height: 356px;
  width: 100%;
  max-width: 536px;
  padding-bottom: 24px;
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.article__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__paragraph {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.article__link {
  color: var(--red);
  text-decoration: underline;
}

.phone {
  color: inherit;
}

@media only screen and (min-width: 768px) {

  body {
    padding: 0 52px;
  }

  .section {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    padding: 60px 0;
  }
}
