@import url("./header.css");
@import url("./footer.css");
@import url("./font.css");

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 160px);
  min-width: 400px;
}

.contain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}

.content {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 68px;
  justify-content: center;
  margin-bottom: 150px;
}

.image {
  align-items: start;
}

.text__heading {
  margin-top: 0;
  color: #221F1F;
  font-size: 48px;
  line-height: 32px;
  font-weight: 700;
}

.text__chapter {
  color: #221F1F;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
}

.text__chapter .text__link {
  color: #EF4934;
}

@media screen and (min-width: 1px) and (max-width: 767px) {

  .content {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image__img {
    width: calc(90%);
    height: auto;
  }

  .text__heading {
    margin-top: 0;
    color: #221F1F;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
  }

  .text__chapter {
    color: #221F1F;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {

  .content {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text__heading {
    margin-top: 0;
    color: #221F1F;
    font-size: 48px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
  }

  .text__chapter {
    color: #221F1F;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
  }
}

@media screen and (min-width: 1023px) {

  .content {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
  }

  .image {
    max-width: 600px;
  }

  .text {
    max-width: 600px;
  }
}