@import url("./header.css");
@import url("./footer.css");
@import url("./font.css");

.main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: calc(100vh - 160px);
  min-width: 400px;
}

.contain {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  margin-right: 53px;
  margin-left: 53px;
}

.main__heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.content {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.field {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item__lable {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
  padding: 0;
}

.inp {
  box-sizing: border-box;
  text-align: center;
  height: 36px;
  width: 122px;
  font-size: 14px;
  border-radius: 6px;
  outline: 0;
  border: solid .6px #A9A9A9;
  padding: 0;
  margin-top: 22px;
  margin-right: 16px;
  margin-bottom: 0;
  margin-left: 0;
}

.inp__select {
  height: 36px;
  width: 122px;
  font-size: 14px;
  border-radius: 6px;
  outline: 0;
  border: solid .6px #A9A9A9;
  padding-left: 12px;
  margin-right: 16px;
}

.button {
  height: 36px;
  width: 122px;
  font-size: 14px;
  border-radius: 6px;
  margin-right: 16px;
  outline: 0;
  border: 0;
  color: #FFF;
  background-color: #EF4934;
  transition: background-color .2s ease-in-out;
}

.button:hover {
  background-color: #CD412F;
}

.result {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 36px;
  margin-top: 22px;
  font-size: 24px;
  font-weight: 400;
  line-height: 21px;
}

.visualTimeDurationExecution {
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
}

.visualInterpritation {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 60px;
}

.visualInterpritation h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0;
  padding-right: 80px;
  color: #EF4934;
}

.visualInterpritation h1::first-letter {
  padding-left: 25px;
}

@media screen and (min-width: 1px) and (max-width: 915px) {

  .content,
  .visualInterpritation,
  .item,
  .inp__select,
  .inp,
  .button {
    width: calc(100%);
  }

  .contain {
    margin-bottom: 50px;
  }

  .field {
    display: flex;
    width: auto;
  }

  .main__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .visualTimeDurationExecution {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
  }

  .visualInterpritation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 0;
    text-align: center;
  }

  .visualInterpritation h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    padding-right: 0;
    color: #EF4934;
  }

  .inp {
    box-sizing: border-box;
    text-align: center;
    height: 25px;
    width: calc(100% - 10px);
    min-width: 45px;
    font-size: 14px;
    margin-top: 22px;
    margin-right: 16px;
  }

  .inp__select {
    height: 25px;
    width: calc(100% - 10px);
    min-width: 45px;
    padding-left: 12px;
    margin-right: 16px;
  }

  .button {
    height: 25px;
    width: calc(100% - 10px);
    min-width: 45px;
    font-size: 14px;
    border-radius: 6px;
    margin-right: 10px;
    outline: 0;
    border: 0;
    color: #FFF;
    background-color: #EF4934;
    transition: background-color .2s ease-in-out;
  }

  .result {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 25px;
    width: calc(100% - 10px);
    min-width: 45px;
    margin-top: 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
  }

  .item__lable {
    font-size: 12px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}