@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #221F1F;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

.header {
  max-width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #EF4A34;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 11px 52px 11px 53px;
  margin: 0 auto;
}

.header__logo {
  width: 55px;
  height: 57px;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__menu_list {
  height: 20px;
  padding-bottom: 7px;
}

.nav__menu_list:hover {
  border-bottom: 1px solid #FFF;
}

.menu__nav-link {
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
}

.main {
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}

.main__section {
  max-width: 1280px;
  display: flex;
  gap: 68px;
  margin: 60px auto 238px;
}

.section__img {
  max-width: 532px;
  height: 356px;
  box-shadow: 0 0 50px 5px;
  border-radius: 22px;
}

.section__about_me {
  max-width: 575px;
  height: 409px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__title {
  width: 100%;
  height: 46px;
  margin-bottom: 24px;
}

.about__me_title {
  color: #221F1F;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.about__me_info {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.about__text {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.section__link {
  color: #F04934;
}

.footer {
  max-width: 100%;
  height: 160px;
  background-color: #221F1F;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__social_list {
  display: flex;
  gap: 33px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__ico {
  width: 42px;
  height: 42px;
}

.footer__about_info {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  color: #FFF;
}

.footer__about a {
  color: #FFF;
}
