body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.upper-header {
  background-color: #333;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 10px;
  color: #333;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
}

.ma-logo {
  display: flex;
  align-items: center;
}

.MAlogo {
  width: 190px;
  height: 30px;
  margin-left: 53px;
}

.navigation {
  text-align: right;
  display: flex;
  align-items: center;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
  line-height: 19px;
  margin-right: 50px;
}

.pokemons {
  text-decoration: none;
}

.about {
  text-decoration: none;
}
