* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-header {
  background-color: #333;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 10px;
  color: #333;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
}

.second-header {
  width: 100%;
  padding-block: 12px;
  background-color: #221F1F;
  display: flex;
  color: #FFF;
  justify-content: space-around;
}

.form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown {
  padding: 0 12px;
  border-radius: 6px;
  background-color: #333;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  border: 1px solid #333;
}

.only-new {
  display: flex;
}

.radio-buttons, .checkboxes {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}

.search-field {
  display: flex;
}

.image-search {
  background-color: #FFF;
  border-radius: 6px 0 0 6px;
  display: flex;
  align-items: center;
}

.input-search {
  border: 1px solid #FFF;
  width: 100%;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 13px 20px 13px 30px;
}

.radio-buttons input, .checkboxes input {
  background-color: #FFF;
  border: 1px solid #FFF;
  border-radius: 6px 0 0 6px;
  display: inline-flex;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-apply {
  background-color: #EF4934;
  color: #FFF;
  border-radius: 0 6px 6px 0;
  border: 1px solid #EF4934;
  display: inline-flex;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ma-logo {
  display: flex;
  align-items: center;
}

.MAlogo {
  margin-left: 53px;
}

.navigation {
  text-align: right;
  display: flex;
  align-items: center;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
  line-height: 19px;
  margin-right: 50px;
}

.about, .login, .calculator {
  text-decoration: none;
}

.content {
  max-width: 1280px;
  padding-inline: 52px;
}

.headline {
  color: #221F1F;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  margin-block: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 22px;
  justify-content: flex-start;
}

.card {
  background-color: #ECECEC;
  width: 100%;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 22px;
}

.card-header {
  display: flex;
  gap: 12px;
  align-items: normal;
}

.card-image {
  width: 90px;
  height: 90px;
  border-radius: 12px;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
}

.card-content {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.card-text {
  margin: 0;
}

.card-text-bold {
  font-weight: 600;
}

.card-property {
  display: flex;
  gap: 12px;
}

.card-property-name {
  margin-top: 6px;
}

.card-property-tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.card-property-tag {
  padding: 7px 9px;
  background: #000;
  color: #FFF;
  border-radius: 3px;
}

.group-yellow {
  background-color: #FDB714;
}

.group-red {
  background-color: #EF4934;
}

.group-blue {
  background-color: #3447EF;
}

.group-pink {
  background-color: #FF87F3;
}

footer {
  background-color: #EF4934;
  color: #FFF;
  padding: 20px;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.footer-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}

.link {
  color: #FFF;
  text-decoration: none;
}

.social-networks {
  margin-block: 30px;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(239 73 52);
  border-radius: 50%;
  border-top-color: #FFF;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px;
}

.hide {
  display: none;
}
