body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.upper-header {
  background-color: #333;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 10px;
  color: #333;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
}

.ma-logo {
  display: flex;
  align-items: center;
}

.MAlogo {
  width: 190px;
  height: 30px;
  margin-left: 53px;
}

.navigation {
  text-align: right;
  display: flex;
  align-items: center;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
  line-height: 19px;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  width: 77px;
  height: 11px;
}

.pokemons {
  text-decoration: none;
}

.content {
  display: flex;
}

.yellow-rectangle {
  width: 532px;
  height: 297px;
  background-color: #FDB714;
  border-radius: 22px;
  margin-left: 53px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-rectangle {
  height: 479px;
  background-color: #FFF;
  margin-left: 53px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.pokemon {
  width: 505.89px;
  height: 185.79px;
  padding-top: 28px;
  padding-left: 6px;
}

.pokeball {
  width: 102px;
  height: 102px;
}

.headline {
  color: #221F1F;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  margin-top: 0;
  margin-left: 25px;
  width: 575px;
  height: 46px;
}

p {
  color: #221F1F;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  margin-left: 25px;
  margin-top: auto;
  height: 409px;
}

.link {
  color: #EF4934;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}
