.main__section {
  display: flex;
  max-width: 1175px;
  margin-top: 60px;
  flex: 1;
  padding: 0 30px;
}

.about-main__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 64.5px;
  gap: 24px;
}

.about-image {
  display: flex;
  max-width: 100%;
  max-height: 356px;
}

.about-me__header {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}

.about-main__content p {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  margin: 0;
}

.main-content {
  margin: 0;
}

.link {
  color: #EF4934;
}

@media screen and (max-width: 768px) {

  .main__section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .about-main__content {
    margin-left: 0;
  }

  .about-image {
    display: flex;
    max-width: 100%;
    max-height: 100%;
  }
}
