.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #221F1F;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
}

.field {
  display: flex;
  align-items: center;
}

select {
  border-radius: 6px;
  border: 1px solid #A9A9A9;
  width: 75px;
  height: 53px;
  color: #221F1F;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
}

input {
  border-radius: 6px;
  border: 1px solid #A9A9A9;
  width: 200px;
  height: 50px;
  color: #221F1F;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
}

button {
  border-radius: 6px;
  border-width: 0;
  background-color: #EF4934;
  width: 200px;
  height: 53px;
  color: #FFF;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

span {
  width: 250px;
  color: #221F1F;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
}