/* HEADER STYLES */

.page-header {
  background-color: #333;
  width: 1280px;
  height: 80px;
}

.page-header-container {
  display: flex;
  gap: 725px;
  max-width: 1280px;
}

.logo {
  width: 190px;
  margin-top: 25px;
  margin-left: 53px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

.nav-menu {
  margin-top: 34px;
}

.nav-menu-item-link {
  text-decoration: none;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu-item-link:hover,
.nav-menu-item-link:focus {
  color: #F04934;
}

/* ABOUT SECTION STYLES*/

.about-page {
  min-width: 1280px;
}

.about-page-container {
  display: flex;
  width: 1175px;
  margin: 60px 52px 458px 58px;
}

.about-page-img {
  width: 532px;
  height: 342px;
  padding-right: 68px;
}

.about-page-header {
  color: #221F1F;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 24px;
}

.about-page-text {
  color: #221F1F;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  max-width: 575px;
}

.MA-website {
  color: #EF4934;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-decoration-line: underline;
}