html {
  height: 100%;
  width: 100%;
}

/* HEADER STYLES */

.page-header {
  background-color: #333;
  width: 100%;
  height: 80px;
}

.page-header-container {
  display: flex;
  gap: 725px;
  max-width: 1280px;
}

.logo {
  width: 190px;
  margin-top: 25px;
  margin-left: 53px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

.nav-menu {
  margin-top: 34px;
}

.nav-menu-item-link {
  text-decoration: none;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu-item-link:hover,
.nav-menu-item-link:focus {
  color: #F04934;
}

/* MAIN STYLES */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #221F1F;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 80px;
  margin-bottom: 60px;
}

input[type="email"] {
  border-radius: 6px;
  border: 1px solid #A9A9A9;
  width: 575px;
  height: 70px;
  display: flex;
  flex-direction: column;
  color: #A9A9A9;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding-left: 20px;
  margin-top: 22px;
  margin-bottom: 40px;
}

input[type="password"] {
  border-radius: 6px;
  border: 1px solid #A9A9A9;
  width: 575px;
  height: 70px;
  display: flex;
  flex-direction: column;
  color: #A9A9A9;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding-left: 20px;
  margin-top: 22px;
  margin-bottom: 40px;
}

label {
  width: 575px;
  color: #221F1F;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
}

.robotcheck {
  display: block;
  margin-bottom: 40px;
}

.robotcheck-label {
  color: #221F1F;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"] {
  padding: 3px;
  margin-bottom: 40px;
  cursor: pointer;
  display: none;
}

.robotcheck-label::before {
  content: "";
  background-color: transparent;
  border: 2px solid #EF4934;
  border-radius: 6px;
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  height: 10px;
  width: 6px;
  left: 6px;
  border: solid #EF4934;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type="submit"] {
  border-radius: 6px;
  border-width: 0;
  background-color: #EF4934;
  width: 575px;
  color: #FFF;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  padding: 27px 258px;
  margin-bottom: 237px;
  cursor: pointer;
}
