html {
  height: 100%;
  width: 100%;
}

/* HEADER STYLES */

.page-header {
  background-color: #333;
  width: 100%;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  height: 80px;
  align-items: center;
}

.logo {
  width: 190px;
  margin-left: 53px;
}

.nav-menu {
  width: 260px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-menu-item-link {
  text-decoration: none;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu-item-link:hover,
.nav-menu-item-link:focus {
  color: #F04934;
}

/* POKEMONS CARDS SECTION STYLES*/

.cards-page {
  max-width: 1280px;
}

.cards-page-header {
  color: #221F1F;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  width: 575px;
  margin: 40px 52px 0;
}

.cards-container {
  width: 1175px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 40px 53px 50px 52px;
}

.pokemon-card {
  border-radius: 12px;
  background: #ECECEC;
  width: 251px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 12px 12px 22px;
}

.pokemon-img {
  width: 90px;
  height: 90px;
}

.pokemon-name {
  color: #221F1F;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}

.pokemon-name-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.pokemon-descr {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding-left: 12px;
  margin: 0;
}

.pokemon-descr-item {
  color: #221F1F;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
}

.pokemon-descr-item-value {
  color: #221F1F;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}


.pokemon-descr-type-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 6px;
  padding-left: 0;
}

.pokemon-descr-item-type {
  color: #221F1F;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
}

.pokemon-descr-type-first {
  border-radius: 3px;
  background: #FDB714;
  width: 69px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.pokemon-descr-type-second {
  border-radius: 3px;
  background: #EF4934;
  width: 69px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.pokemon-descr-weakness-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 6px;
  padding-left: 0;
}

.pokemon-descr-item-weakness {
  color: #221F1F;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
}

.pokemon-descr-weakness-first {
  border-radius: 3px;
  background: #FF87F3;
  width: 69px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.pokemon-descr-weakness-second {
  border-radius: 3px;
  background: #3447EF;
  width: 69px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}