.success__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success__block-title {
  font-size: 48px;
  text-align: center;
}

.success__block-button {
  border-radius: 6px;
  background: #EF4934;
  padding: 27px 258px;
  border-color: #FFF;
  border-width: 0;
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.success__block-button:hover {
  opacity: 1;
}
