.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 160px;
  background-color: #221F1F;
}

.footer_items {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social_icons {
  display: inline-flex;
  gap: 33px;
  justify-content: center;
  padding-bottom: 32px;
}

.social_icons li {
  height: 42px;
}

footer .copyright {
  font-size: 22px;
  font-weight: 400;
  color: #FFF;
  line-height: 32px;
}

footer .copyright a {
  color: #FFF;
  text-decoration: none;
}
