* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #221F1F;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
}

ul {
  list-style: none;
}

p {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}

p > a {
  color: #EF4934;
}

::placeholder {
  color: #A9A9A9;
}

input[type="submit"] {
  font-size: 22px;
  font-weight: 600;
  color: #FFF;
  background-color: #EF4934;
  width: 575px;
  height: 70px;
  border: #A9A9A9;
  border-radius: 6px;
}