.about {
  width: 575px;
  font-family: Roboto, sans-serif;
}

.about__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  color: #221F1F;
  margin: 0 0 24px;
}

.about__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  color: #221F1F;
}

.about__link {
  color: #EF4934;
}
