body {
  margin: 0;
  padding: 0;
}

.header {
  border: none;
  width: 100%;
  background-color: #EF4934;
}

.header__all {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.header__img {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 55px;
  height: 55px;
  justify-content: center;
  margin-left: 61px;
}

.header__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.header__items a {
  text-decoration: none;
  color: #FFF;
}

.header__items_Calculator {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  margin-right: 40px;
}

.header__items_Calculator:active {
  text-decoration: underline;
}

.header__items_Games {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  margin-right: 40px;
}

.header__items_Games:active {
  text-decoration: underline;
}

.header__items_About {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  margin-right: 40px;
}

.header__items_About:active {
  text-decoration: underline;
}

.header__items_Login {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  margin-right: 40px;
}

.header__items_Login:active {
  text-decoration: underline;
}

.Filter {
  width: 100%;
  background-color: #221F1F;
  padding: 15px 0;
}

.Filter__forms {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;  /* Погратися з відсотками */
  justify-content: center;align-items: center;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.Filter__forms_select {
  margin-left: 100px;
}

.Filter__forms_checkbox {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 120px;
}

.Filter__forms_radio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 50px;
  color: #FFF;
  font-size: 14px;
}

.Filter__forms_search {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Filter__forms_search_input {
  border: none;
  width: 200px;
  height: 34px;
  margin-left: 100px;
  padding-left: 30px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-image: url("../img/Icons.png");
  background-position: left;background-size: 24px 24px;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.Filter__forms_search_input:focus {
  box-shadow: 0 0 0 1px #A9A9A9; /* Погратися з фокусом */
}

.Filter__forms_search_btn {
  border: none;
  width: 75px;height: 34px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #EF4934;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #FFF;
}

.Filter__forms_search_btn:active {
  box-shadow: 0 0 0 1px #A9A9A9;
}

.Games .Games__title {
  margin: 60px 0 0 85px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
}

.Games .Games__cards {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 275px 275px 275px 275px;
  column-gap: 25px;
  grid-template-rows: 260px;
  row-gap: 60px;
  justify-content: center;
  min-height: auto;
}

.Games .Games__cards .Games__cards_desc {
  margin-bottom: 15px;
  border-radius: 12px;
  padding: 12px 12px 22px;
  background-color: #ECECEC;
  height: 260px;
}

.Games .Games__cards .Games__cards_desc .Games__cards_top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 12px;
  grid-template-rows: 90px;
  row-gap: 16px;
  justify-content: center;
}

.Games .Games__cards .Games__cards_desc .Games__cards_top .Games__cards_top_img {
  width: 90px;
  height: 90px;
  justify-content: center;
}

.Games .Games__cards .Games__cards_desc .Games__cards_top .Games__cards_top_text {
  padding-top: 0;
  margin-top: 0;
}

.Games .Games__cards .Games__cards_desc .Games__cards_top .Games__cards_top_text_title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
}

.Games .Games__cards .Games__cards_desc .Games__cards_top .Games__cards_top_text_p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 0;
  padding-top: 10px;
}

.Games .Games__cards .Games__cards_desc .Games__cards_btm {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.Games .Games__cards .Games__cards_desc .Games__cards_btm .Games__cards_btm_bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18.2px;
}
