body {
  margin: 0;
  padding: 0;
}

.header {
  border: none;
  width: 100%;
  background-color: #EF4934;
}

.header__all {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.header__img {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 55px;
  height: 55px;
  justify-content: center;
  margin-left: 61px;
}

.header__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.header__items a {
  text-decoration: none;
  color: #FFF;
}

.header__items_Calculator {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  margin-right: 40px;
}

.header__items_Calculator:active {
  text-decoration: underline;
}

.header__items_Games {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_Games:active {
  text-decoration: underline;
}

.header__items_About {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_About:active {
  text-decoration: underline;
}

.header__items_Login {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_Login:active {
  text-decoration: underline;
}

.Login__table {
  margin: 0 auto;
  max-width: 575px;
}

.Login__table_title {
  display: flex;
  justify-content: center;
  color: #221F1F;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
}

.Login__table_email {
  margin-top: 20px;
}

.Login__table_email_title {
  color: #221F1F;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  padding-top: 10px;
}

.Login__table_email_input {
  border: solid 1px #A9A9A9;
  border-radius: 6px;
  min-width: 575px;
  min-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.Login__table_password {
  margin-top: 20px;
}

.Login__table_password_title {
  color: #221F1F;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  padding-top: 20px;
}

.Login__table_password_input {
  border: solid 1px #A9A9A9;
  border-radius: 6px;
  min-width: 575px;
  min-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.Login__table_verif {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding-top: 10px;
}

.Login__table_verif_input {
  position: absolute;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid #EF4934;
  cursor: pointer;
}

.Login__table_verif_text {
  position: relative;
  cursor: pointer;
}

.Login__table_verif_input:checked + label::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 6px;
  height: 14px;
  border: solid #EF4934;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.Login__table_verif_input::before {
  content: "";
  color: transparent;
  display: block;
  border-color: #FFF;
  background-size: contain;
}

.Login__table_verif_text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #221F1F;
  padding-left: 30px;
}

.errors-container {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 10px;
  color: #FF2E2EBA;
}

.Login__table_btn {
  padding-top: 10px;
}

.Login__table_btn_name {
  min-width: 580px;
  min-height: 55px;
  border-radius: 6px;
  background-color: #EF4934;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: #FFF;
  border: none;
  cursor: pointer;
}

.Login__table_btn_name:active {
  box-shadow: 0 0 0 1px #A9A9A9;
}
