body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* navigation menu */

.header__page {
  background-color: #333;
  color: #FFF;
}

.logo {
  margin: 25px auto 25px 53px;
}

.header__page, .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo__img {
  width: 190px;
  height: 30px;
}

/* navigation settings */

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin: 34px 52px 28px auto;
  padding: 0;
}

.navigation__item {
  list-style: none;
}

.navigation__item-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
}

/*
class that defines how the button of the
page we are on will behave
*/

.active {
  text-decoration: underline;
}

/* main information */

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.title__img {
  width: 150px;
  height: 150px;
}

input[type="submit"] {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: #FFF;
  background-color: #EF4934;
  border: none;
  border-radius: 6px;
  width: 575px;
  height: 70px;
  box-shadow: 0 4px 30px 0;
}

.title_txt {
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  color: #221F1F;
}
