@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
/*Обнуляющие стили*/
@import url("null.css");
/*Импорт header & footer*/
@import url("header.css");
@import url("footer.css");

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  margin: 0 auto 40px;
  box-sizing: border-box;
  padding: 60px 52px 0;
}

.content {
  max-width: 1280px;
}

.calculator {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.calc__row {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 60px auto 0;
  align-items: center;
  gap: 20px;
}

.task {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.title {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #221F1F;
  text-align: center;
  margin-top: 40px;
}

.input__field {
  max-width: 200px;
  height: 70px;
  padding-left: 20px;
  color: #444;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: 1px solid #A9A9A9;
  border-radius: 6px;
  transition: all 100ms;
}

.input__field::placeholder {
  color: #A9A9A9;
}

.input__field:focus {
  border-bottom: 3px solid #EF4934;
  color: #000;
  transition: all 100ms;
}

.operation {
  display: flex;
  width: 120px;
  height: 70px;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #444;
  border: 1px solid #A9A9A9;
  border-radius: 6px;
  transition: all 100ms;
}

.operation:focus {
  border-bottom: 3px solid #EF4934;
  color: #000;
  transition: all 100ms;
}

.option__field {
  text-align: center;
}

.calculate {
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFF;
  background-color: #EF4934;
  box-shadow: 0 4px 30px 0 rgba(38, 58, 67, .15);
  transition: ease-in all 100ms;
}

.calculate:hover {
  background-color: #FF5D48;
  transition: ease-in all 100ms;
}

.result {
  display: flex;
  align-items: center;
  width: 500px;
  height: 70px;
  margin: 0 auto;
  padding-left: 20px;
  color: #444;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: 1px solid #A9A9A9;
  border-radius: 6px;
  transition: all 100ms;
}

.visual__result {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 60px;
}

.result__field {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 20px;
}

.symbol {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #EF4934;
}

.cards__field {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 60px;
}

.result__field {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 20px;
}

.date__field {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 22px;
  margin-top: 30px;
}

.card1 {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.card__img {
  width: 90px;
  height: 90px;
  background: url("../images/games__logos/overwatch.png") 0 0 / contain no-repeat;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #444;
  border: 1px solid #000;
}
