/*Header*/

.header {
  position: fixed;
  display: flex;
  width: 100%;
}

.header__menu {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 1fr;
  align-items: center;
  max-width: 100%;
  height: 80px;
  background-color: #EF4934;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header__logo {
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  transition: all 250ms;
}

.header__logo:active {
  transform: scale(.99);
  transition: all 250ms;
}

.menu__list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: end;
  max-width: 100%;
  width: 100%;
  list-style: none;
  color: #FFF;
}

.menu__list li {
  margin-right: 50px;
  transition: all 250ms;
}

.menu__link-about {
  text-decoration: none;
  color: #FFF;
  transition: all 250ms;
}

.menu__link-about:hover {
  text-decoration: underline;
  color: #FBFFC4;
  text-shadow: 1px 1px 1px #999;
}
