/*Импорт шрифтов*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
/*Обнуляющие стили*/
@import url("null.css");
/*Импорт header & footer*/
@import url("header.css");
@import url("footer.css");

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

.content {
  max-width: 1280px;
}

.main {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 60px 52px 0;
  overflow-y: auto;
}

.left__side-main {
  display: flex;
  flex: 0 1 50%;
  margin: 0 auto;
  align-items: start;
}

.img__about {
  max-width: 535px;
  object-fit: contain;
  border-radius: 20px;
}

.right__side-main {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  margin: 0 auto;
  padding: 0 20px;
}

.about__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #000;
}

.text__about {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}

.p1,
.p2,
.p3,
.p4 {
  margin-top: 32px;
}

.about__links {
  color: #EF4934;
  transition: ease-in all 150ms;
}

.about__links:hover {
  font-weight: 500;
  transition: ease-in all 150ms;
}
