@import url("./header.css");
@import url("./footer.css");

body {
  width: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas: "header"
    "about"
    "footer";
}

/* Content */

.about {
  grid-area: about;
  max-width: 1280px;
  margin: 0 auto;
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img text";
  grid-gap: 48px;
  max-width: 100%;
  padding: 48px 0;
}

.about__img {
  grid-area: img;
  width: 100%;
  height: auto;
}

.about__info {
  grid-area: text;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 24px;
}

.about__header {
  grid-row: 1 / 2;
}

.about__text {
  grid-row: 2 / 3;
  margin: 0;
  display: grid;
  grid-gap: 16px;
}

.about__title {
  color: #221F1F;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  margin: 0;
}

.about__paragraph {
  color: #221F1F;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}

.about__link {
  color: #EF4934;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}