@import url("./header.css");
@import url("./footer.css");

body {
  width: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 60px 1fr auto;
  grid-template-areas: "header"
    "subheader"
    "games"
    "footer";
}

.subheader {
  grid-area: subheader;
  background-color: #221F1F;
  display: flex;
  flex-direction: row;
}

.subheader__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 12px 0;
  gap: 32px;
}

/* Checkbox */
/* Basic control styles */

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
}

/* Checkbox */
/* Hide default browser input */

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__proxy {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #221F1F;
  border: 1px solid #FFF;
  border-radius: 6px;
}

.control__checkbox {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #FFF;
}

/* Checkbox */
/* Hover and focus */

.control:hover input ~ .control__proxy,
.control input:focus ~ .control__proxy {
  background: #221F1F;
}

/* Checkbox */
/* Checked */

.control input:checked ~ .control__proxy {
  background: #221F1F;
}

.control input:disabled ~ .control__proxy {
  background: #221F1F;
  opacity: .6;
  pointer-events: none;
}

.control input:checked:focus ~ .control__proxy {
  background: #221F1F;
}

.control:hover input:not([disabled]):checked ~ .control__proxy {
  background: #221F1F;
}

.control__proxy::after {
  content: "";
  position: absolute;
  display: none; /* Hide check */
}

.control__checkbox .control__proxy::after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control input:checked ~ .control__proxy::after {
  display: block; /* Show check */
}

/* Content */

.title__h1 {
  color: #221F1F;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  margin: 0;
}

.games {
  grid-area: games;
  max-width: 1280px;
  margin: 0 auto;
}

.games__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-row-gap: 40px;
  padding: 40px 0;
}

.games__title {
  grid-row: 1 / 2;
}

/* Games Grid */

.games__grid {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 25px;
}

.card {
  display: grid;
  height: auto;
  background-color: #ECECEC;
  border-radius: 12px;
  padding: 12px;
  grid-template-rows: auto auto;
  grid-row-gap: 12px;
}

.card__header {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: auto;
  grid-gap: 16px;
}

.card__img {
  object-fit: cover;
}

.card__about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.card__title {
  color: #221F1F;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.card__text {
  color: #221F1F;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 6px;
  flex-wrap: wrap;
  align-content: center;
}

.info__title {
  color: #221F1F;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}

.info__value {
  color: #221F1F;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}

/* Loader */

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #FFF;
  animation: spin 1s ease-in-out infinite;
  box-sizing: border-box;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}