@import url("./header.css");
@import url("./footer.css");

body {
  width: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas: "header"
    "login"
    "footer";
}

/* Main */
/* Form */

main {
  grid-area: login;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  max-width: 575px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 177px;
}

.login__header,
.form__input,
.form__control {
  margin-bottom: 40px;
}

.login__h1 {
  font-size: 48px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: #221F1F;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input,
.form__control {
  display: flex;
  flex-direction: column;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 16px;
  color: #221F1F;
  cursor: pointer;
  width: 100%;
}

.textfield {
  height: 70px;
  font-size: 14px;
  color: #221F1F;
  border-radius: 6px;
  outline: none;
  border: solid .6px #A9A9A9;
  padding-left: 19px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 22px;
}

.textfield:focus {
  box-shadow: inset 0 -6px #EF4934;
}

.textfield::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
}

/* Checkbox */
/* Basic control styles */

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
}

/* Checkbox */
/* Hide default browser input */

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__proxy {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #FFF;
  border: 1px solid #EF4934;
  border-radius: 6px;
}

.control__checkbox {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #221F1F;
}

/* Checkbox */
/* Hover and focus */

.control:hover input ~ .control__proxy,
.control input:focus ~ .control__proxy {
  background: #FFF;
}

/* Checkbox */
/* Checked */

.control input:checked ~ .control__proxy {
  background: #FFF;
}

.control input:disabled ~ .control__proxy {
  background: #E6E6E6;
  opacity: .6;
  pointer-events: none;
}

.control input:checked:focus ~ .control__proxy {
  background: #F2F2F2;
}

.control:hover input:not([disabled]):checked ~ .control__proxy {
  background: #F2F2F2;
}

.control__proxy::after {
  content: "";
  position: absolute;
  display: none; /* Hide check */
}

.control__checkbox .control__proxy::after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #EF4934;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control input:checked ~ .control__proxy::after {
  display: block; /* Show check */
}

/* Errors */

#errors {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #EF4934;
}

/*button*/

.submit {
  height: 70px;
  font-size: 24px;
  border-radius: 6px;
  outline: 0;
  border: 0;
  color: #FFF;
  background-color: #EF4934;
  transition: background-color .2s ease-in-out;
  width: 100%;
}

button:hover {
  background-color: #C43C2A;
  cursor: pointer;
}