.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  height: 1017px;
}

.login-page {
  background: #EF4934;
  height: 80px;
}

.header-menu {
  padding: 0 52px 0 53px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo-box {
  width: 55px;
  height: 58px;
  position: relative;
}

.nav {
  font-size: 16px;
  font-family: Roboto, serif;
  gap: 50px;
  display: flex;
}

.nav__link {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}
/*Main*/

.container {
  max-width: 575px;
  height: 520px;
  /*border: 1px solid black;*/

  margin: 80px 352px 337px 353px;
}

.login-title {
  font-family: Roboto, serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  text-align: center;
}

.login-box {
  width: 575px;
  height: 426px;
  display: flex;
  flex-direction: column;
  top: 62px;
  position: relative;
  row-gap: 40px;
}

.form-box {
  display: flex;
  height: 108px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
}

.title {
  margin: 0;
  font-family: Roboto, serif;
  font-size: 22px;
  font-weight: 600;
}

input[type="email"]:invalid + .invalid-feedback::after {
  content: "Необходимо указать значок @";
}

.input-box {
  height: 70px;
  width: 568px;
  border-radius: 6px;
  border: .6px solid #A9A9A9;
  background: #FFF;
}

.checkbox-field {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.checkbox-view {
  font-family: Roboto, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.button-login {
  color: #FFF;
  font-family: Roboto, serif;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.form-box .button-login {
  width: 575px;
  height: 70px;
  border-radius: 6px;
  background: #EF4934;
  box-shadow: 0 4px 30px 0 rgba(38, 58, 67, .15);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
