.calculator-h1 {
  margin: 80px 0 0;
  font-size: 48px;
  text-align: center;
}

.calculator-field {
  margin: 0 53px 529px;
  flex-grow: 1;
}

.field {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 60px;
}

.calc-input {
  border: 1px solid #A9A9A9;
  border-radius: 6px;
  font-size: 20px;
  padding: 8px;
}

.select-operations {
  background-color: #221F1F;
  font-weight: 400;
  color: #FFF;
  border-radius: 6px;
  font-size: 20px;
  padding: 3px;
}

.result-button {
  color: #FFF;
  background-color: #EF4934;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-weight: 700;
}

.result-text {
  font-size: 20px;
}

@media (max-width: 768px) {
  .field {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 590px) {
  .nav-items {
    gap:20px;
    padding: 0;
  }

  .header{
    flex-wrap: wrap;
  }

  .calculator-h1 {
    font-size: 36px;
  }
}
