.filter {
  background-color: #221F1F;
  padding: 12px 53px;
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
}

.filter-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-search {
  display: flex;
}

.search-input {
  margin-right: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 12px 100px 12px 45px;
  background-image: url("../images/search_logo.svg");
  background-repeat: no-repeat;
  background-position: 10px 7px;
  border: #FFF;
  outline: none;
}

.search-button {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: 0;
  color: #FFF;
  background-color: #EF4934;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

.select-name {
  border-radius: 6px;
  padding: 13px;
  background-color: #333;
  color: #FFF;
  outline: none;
}

.select-name option {
  background-color: white;
  color: #221F1F;
}

.games-main {
  flex-grow: 1;
}

.cards-main {
  padding: 0 53px;
  margin-bottom: 46px;
}

.cards-h1 {
  color: #221F1F;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  margin: 40px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.game-card {
  width: 275px;
  background-color: #ECECEC;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.game-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}


.game-title {
  margin-left: 12px;
}

.game-name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}

.text-game {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 0;
}

.upper-card {
  display: flex;
  align-items: flex-start;
  margin: 12px 12px 0 12px;
}

.lower-card {
  font-size: 14px;
  line-height: 18px;
  margin-left: 22px;
}

.select-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.filter-radio {
  display: flex;
  gap: 32px;
}

@media (max-width: 1100px) {
  .filter-radio {
    gap: 10px;
  }
}

@media (max-width: 1000px) {
    .filter-radio {
    gap: 10px;
  }

  .search-input {
    padding: 12px 30px 12px 45px;
  }

}

@media (max-width: 900px) {
  .select-group {
    display: flex;
    flex-wrap: wrap;
  }
  .filter-form {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .search-input {
    padding: 12px 100px 12px 45px;
  }
}

@media (max-width: 768px) {
  .cards-h1 {
    font-size: 36px;
  }
}

@media (max-width: 590px) {
  .nav-items {
    padding: 0;
  }

  .header{
    flex-wrap: wrap;
  }
}

@media (max-width: 490px) {
  .search-input {
    width: 100%;
  }
}

.radio-check {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark-radio {
  position: absolute;
  top: -3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #221F1F;
  border: 1px solid #FFF;
  border-radius: 50%;
}

.radio-check input:checked ~ .checkmark-radio {
  background-color: #221F1F;
}

.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-check input:checked ~ .checkmark-radio:after {
  display: block;
}

.radio-check .checkmark-radio:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
