body {
  font-family: "Roboto", sans-serif;
}

.contain {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.text {
  width: 575px;
  height: 478px;
}

.text h1 {
  margin-top: 140px;
  color: #221F1F;
  font-size: 48px;
  line-height: 32px;
  font-weight: 700;
}

.text p {
  color: #221F1F;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
}

.text p a {
  color: #EF4934;
}