* {
  font-family: Roboto, serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  min-width: 1280px;
}

.header-menu {
  background: #EF4934;
  padding: 0 60px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo-box {
  width: 55px;
  height: 58px;
  position: relative;
}

.nav {
  font-size: 16px;
  gap: 50px;
  display: flex;
}

.nav__link {
  color: #FFF;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

.filters {
  background: #221F1F;
  color: #FFF;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  font-size: 14px;
  line-height: 150%;
}

.drop-down {
  background: #333;
  border: 0;
  border-radius: 6px;
  color: #FFF;
  width: 114px;
  height: 36px;
  margin-top: 12px;
  display: flex;
}

.radio-btn {
  display: flex;
  gap: 32px;
  width: 237px;
  height: 20px;
  padding-top: 20px;
}

.checkbox-btn {
  width: 145px;
  height: 20px;
  display: flex;
  gap: 32px;
  padding-top: 20px;
}

.search-box {
  display: flex;
  height: 36px;
  padding-top: 12px;
  position: relative;
}

.search-field {
  position: absolute;
  top: 62%;
  transform: translate(50%, -50%);
}

.search {
  width: 255px;
  padding-left: 45px;
  background-color: #FFF;
  border-radius: 8px 0 0 8px;
  border: none;
}

.apply {
  background: #EF4934;
  color: #FFF;
  width: 75px;
  height: 36px;
  left: 302px;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.title {
  margin: 40px 652px 0 60px;
  font-size: 48px;
  font-weight: 700;
}

/*Main*/

.container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
  margin: 40px 60px 0;
  position: relative;
}

.card {
  background: #ECECEC;
  width: 282px;
  height: 255px;
  padding: 12px;
  position: relative;
  display: flex;
  border-radius: 12px;
}

.image-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  position: relative;
  gap: 12px;
  align-items: flex-start;
  top: 0;
}

.header {
  width: 149px;
  height: 70px;
  line-height: 130%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.header__info {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.image {
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 8px;
}

.actors {
  height: 130px;
  left: 2px;
  bottom: 20px;
  position: absolute;
  font-size: 14px;
  line-height: 21px;
}

.list {
  padding: 0;
  margin: 5px 22px;
  list-style: none;
}

.font {
  font-weight: 600;
}

.spinner-box {
  display: flex;
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ECECEC;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 10px dotted #B24538;
  border-top: 10px dotted #FDAE1B;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
