.body {
  font-family: Roboto, serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.project {
  background: #EF4934;
  height: 80px;
}

.header-menu {
  padding: 0 52px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo-box {
  width: 55px;
  height: 58px;
  position: relative;
}

.nav {
  font-size: 16px;
  gap: 50px;
  display: flex;
}

.nav__link {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

.filters {
  background: #221F1F;
  color: #FFF;
  max-width: 1280px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 14px;
  line-height: 150%;
}

.drop-down {
  background: #333;
  color: #FFF;
  width: 114px;
  height: 36px;
  margin-top: 12px;
  display: flex;
}

.radio-btn {
  display: flex;
  gap: 32px;
  width: 237px;
  height: 20px;
  padding-top: 20px;
}

.checkbox-btn {
  width: 145px;
  height: 20px;
  display: flex;
  gap: 32px;
  padding-top: 20px;
}

.search-box {
  display: flex;
  width: 377px;
  height: 36px;
  border-radius: 6px;
  padding-top: 12px;
}

.search {
  width: 255px;
  padding-left: 45px;
  background-color: #FFF;
  background-image: url("./Images/Search.jpg");
  background-position: 12px;
  background-repeat: no-repeat;
}

.apply {
  background: #EF4934;
  color: #FFF;
  width: 75px;
  height: 36px;
  left: 302px;
}

.title {
  margin: 40px 652px 0 53px;
  font-size: 48px;
  font-weight: 700;
}

/*Main*/

.container {
  display: flex;
  width: 1200px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
  margin: 40px 53px 0 52px;
  position: relative;
}

.card {
  background: #ECECEC;
  width: 251px;
  height: 255px;
  padding: 12px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 12px;
}

.image-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  position: relative;
  gap: 12px;
  align-items: flex-start;
  top: 0;
}

.header {
  width: 149px;
  height: 70px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.header__info {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.image {
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 8px;
}

.actors {
  height: 114px;
  left: 2px;
  bottom: 20px;
  position: absolute;
  font-size: 14px;
  line-height: 21px;
}

.list {
  padding: 0;
  margin: 5px 22px;
  list-style: none;
}

.font {
  font-weight: 600;
}
