.new-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 300px;
}

.message {
  color: #EF4934;
  font-size: 50px;
}

.form-box {
  display: flex;
  height: 108px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
}

.page {
  color: #FFF;
  font-family: Roboto, serif;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.form-box .page {
  width: 575px;
  height: 70px;
  border-radius: 6px;
  background: #EF4934;
  box-shadow: 0 4px 30px 0 rgba(38, 58, 67, .15);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
