body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* navigation menu */

.header__page {
  background-color: #333;
  color: #FFF;
}

.logo {
  margin: 25px auto 25px 53px;
}

.header__page, .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 190px;
  height: 30px;
}

/* navigation settings */

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin: 34px 52px 28px auto;
  padding: 0;
}

.navigation__item {
  list-style: none;
}

.navigation__item-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
}

/* filter bar */

.filterBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #221F1F;
  height: 60px;
  color: #FFF;
}

.label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* search bar */

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border-radius: 6px;
  width: 377px;
}

.search__img {
  width: 19px;
  height: 20px;
  background-color: #FFF;
  padding: 3px 2px 2px 3px;
  margin: 6px 10px 6px 20px;
}

.search[type="search"], .search__btn[type="button"] {
  border: none;
}

.search__btn[type="button"] {
  padding: 13px 20px;
  border-radius: 0 6px 6px 0;
  background-color: #EF4934;
  color: #FFF;
  cursor: pointer;
}

.search[type="search"] {
  outline: none;
  display: flex;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* checkbox, radio and drop down list */

.checkbox__label, .radio__label, .drop-down-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

/* checkbox */

.checkbox[type="checkbox"] {
  border-radius: 4px;
}

/* radio */

.radio[type="radio"] {
  border-radius: 50px;
}

/* checkbox and radio*/

.checkbox__big, .checkbox__small, .radio__only-new, .radio__favorites {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox[type="checkbox"], .radio[type="radio"] {
  appearance: none;
  border: 1px solid #FFF;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0;
}

.checkbox[type="checkbox"]:checked, .radio[type="radio"]:checked {
  background-color: #EF4934;
}

/* drop down list */

.drop-down-list {
  width: 114px;
  height: 36px;
  border-radius: 6px;
  background-color: #333;
  color: #FFF;
  border: none;
  padding: 0 12px;
}

/*
class that defines how the button of the
page we are on will behave
*/

.active {
  text-decoration: underline;
}

/* main information */

.title__txt {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 40px auto auto 52px;
}

/* positioning of cards on the page */

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  border-radius: 12px;
  margin: 40px 20px auto;
}

.card__information {
  background-color: #ECECEC;
  border-radius: 12px;
}

/* the image that is on the card */

.card__information-img {
  background-color: #FDB714;
  border-radius: 8px;
}

.card__img, .card__information-img {
  width: 90px;
  height: 90px;
  margin: 0;
}

.card__information-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card__information-head {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.card__information {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 12px 12px 22px;
}

.card__information-txt {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* setting values and properties of the hero */

.property {
  font-weight: 600;
  line-height: 130%;
}

.value {
  font-weight: 400;
  line-height: 150%;
}

.value, .property {
  font-size: 14px;
  font-style: normal;
}

.type, .weaknesses {
  color: #FFF;
  border-radius: 3px;
}

.type {
  padding: 7px 9px;
}

.weaknesses {
  padding: 9px 19px;
}

.value-yellow {
  background-color: #FDB714;
}

.value-red {
  background-color: #EF4934;
}

.value-pink {
  background-color: #FF87F3;
}

.value-blue {
  background-color: #3447EF;
}

.displayOn {
  display: block;
}

.displayOff {
  display: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  border-radius: 12px;
  margin: 40px 53px auto 52px;
}

.loader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.loader {
  border: 8px solid #F3F3F3;
  border-top: 8px solid #EF4934;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
