body {
  margin: 0;
  padding: 0;
}

/* навігаційне меню */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #FFF;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto 25px 53px;
}

.logo > img {
  width: 190px;
  height: 29.945px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin: 34px 52px 28px auto;
  padding: 0;
}

.navigation__item {
  list-style: none;
}

.navigation__item-link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
}

.active {
  text-decoration: underline;
}

/* основний вміст */

h1 {
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 40px auto auto 52px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  border-radius: 12px;
  margin: 40px 53px auto 52px;
}

.card__information {
  background-color: #ECECEC;
  border-radius: 12px;
}

.card__information-title-img {
  background-color: #FDB714;
  width: 90px;
  height: 90px;
  border-radius: 8px;
  margin: 0;
}

.card__information-title-img > img {
  width: 90px;
  height: 90px;
  margin: 0;
}

.card__information-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card__information-title-head {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.card__information {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 12px 12px 22px;
}

.card__information-txt {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__information-txt-property {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.card__information-txt-value {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.value-yellow {
  background-color: #FDB714;
  color: #FFF;
  padding: 7px 9px;
  border-radius: 3px;
}

.value-red {
  background-color: #EF4934;
  color: #FFF;
  padding: 7px 9px;
  border-radius: 3px;
}

.value-pink {
  background-color: #FF87F3;
  color: #FFF;
  padding: 9px 16px;
  border-radius: 3px;
}

.value-blue {
  background-color: #3447EF;
  color: #FFF;
  padding: 9px 19px;
  border-radius: 3px;
}
