body {
  margin: 0;
  padding: 0;
}

/* навігаційне меню */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #FFF;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto 25px 53px;
}

.logo__img {
  width: 190px;
  height: 30px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin: 34px 52px 28px auto;
  padding: 0;
}

.navigation__item {
  list-style: none;
}

.navigation__item-link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
}

.active {
  text-decoration: underline;
}

/* основний вміст */

article {
  display: flex;
  justify-content: space-between;
  gap: 68px;
  margin: 60px 53px auto 52px;
}

.section__img-image {
  width: 532px;
  height: 297px;
}

.title__txt {
  font-size: 48px ;
  font-family: Roboto, sans-serif ;
  font-weight: 700 ;
  line-height: 32px;
  margin: 0;
}

.main_text {
  font-family: Roboto, sans-serif ;
  font-size: 22px ;
  font-weight: 400 ;
  line-height: 32px;
  margin-top: 24px;
}

.link {
  text-decoration: underline ;
  color: #EF4934 ;
}
