h1 {
  font-size: 48px ;
  font-family: Roboto, serif ;
  font-weight: 700 ;
}

.main_text {
  font-family: Roboto, serif ;
  font-size: 22px ;
  font-weight: 400 ;
}

/* додав розміри для article щоб відповідати макету */

article {
  width: 575px ;
  height: 479px ;
}

.link_MOC {
  text-decoration: underline ;
  color: #EF4934 ;
}

.link_social {
  text-decoration: none ;
  color: #221F1F ;
}
