* {
  box-sizing: border-box;
}


a {
  color: var(--color-1, #EF4934);
  text-decoration-line: underline;
}


p {
  color: var(--color-2, #221F1F);
  line-height: 32px;
  margin: 0;
}


.about {
  width: 575px;
  border: 2px #F00 solid;
  padding-left: 20px;
  font-size: 20px;
  gap: 24px;
}
  