* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

/*main {*/
/*  min-height: 100%;*/
/*}*/

.open {
  display: flex !important;
}

ul li {
  list-style: none;
  display: inline;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

/* Стилі за замовченням */

body {
  color: #221F1F;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  letter-spacing: .5px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

::placeholder {
  letter-spacing: .5px;
  font-size: 14px;
  font-weight: 400;
}

/* Налаштування адаптиву */

[class*="__container"] {
  max-width: 1175px; /* Обмежуючий + відступи */
  margin: 0 auto;
}

@media (max-width: 1225px) {

  [class*="__container"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}

