@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("null.css");
@import url("header.css");
@import url("footer.css");

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  min-width: 400px;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  margin: 0 auto 40px;
  padding: 60px 52px 0;
  box-sizing: border-box;
}

@media (max-width: 997px) {

  .main {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {

  .main {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.calculator {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.calc__row {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  min-width: 400px;
  margin: 60px auto 0;
  align-items: center;
  gap: 20px;
}

@media (max-width: 997px) {

  .calc__row {
    max-width: 100%;
    min-width: 400px;
    padding: 0 10px;
  }
}

.task {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 997px) {

  .task {
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #221F1F;
  text-align: center;
  margin-top: 40px;
}

@media (max-width: 767px) {

  .title {
    font-size: 40px;
  }
}

.input__field {
  max-width: 100px;
  height: 70px;
  padding: 0 10px;
  color: #444;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  border: 1px solid #A9A9A9;
  border-radius: 6px;
  transition: all 100ms;
}

@media (max-width: 997px) {

  .input__field {
    width: 100%;
  }
}

.input__field::placeholder {
  color: #A9A9A9;
}

.input__field:focus {
  border-bottom: 3px solid #EF4934;
  color: #000;
  transition: all 100ms;
}

.operation {
  display: flex;
  width: 100px;
  height: 70px;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #444;
  border-radius: 6px;
  border: 0;
  outline: 1px solid #A9A9A9;
  border-right: 7px solid transparent;
  transition: all 100ms;
}

.operation:focus {
  outline: 1px solid #EF4934;
  transition: all 100ms;
}

.option__field {
  text-align: center;
}

.calculate {
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFF;
  background-color: #EF4934;
  box-shadow: 0 4px 30px 0 rgba(38, 58, 67, .15);
  transition: ease-in all 100ms;
}

.calculate:hover {
  background-color: #FF5D48;
  transition: ease-in all 100ms;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 0 20px;
  color: #444;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: 1px solid #A9A9A9;
  border-radius: 6px;
  transition: all 100ms;
}

@media (max-width: 997px) {

  .result {
    width: 100%;
  }
}

@media (max-width: 767px) {

  .result {
    font-size: 25px;
  }
}

.visual__result {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 60px;
}

.result__field {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

@media (max-width: 997px) {

  .result__field {
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 15px;
    text-align: center;
  }
}

@media (max-width: 767px) {

  .result__field {
    padding: 0 20px;
    gap: 5px;
  }
}

.expression {
  display: flex;
  gap: 15px;
}

.symbol {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #EF4934;
}

@media (max-width: 768px) {

  .symbol {
    font-size: 40px;
    line-height: 40px;
  }
}

.cards__field {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 60px;
}

.result__field {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 20px;
}

.date__field {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 22px;
  line-height: 28px;
  margin-top: 30px;
  padding: 0 20px;
}

.card1 {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.card__img {
  width: 90px;
  height: 90px;
  background: url("../images/games__logos/overwatch.png") 0 0 / contain no-repeat;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #444;
  border: 1px solid #000;
}
