.footer {
  display: flex;
  flex-direction: column;
  flex: 0 0 160px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 30px;
  background-color: #221F1F;
}

@media (max-width: 997px) {

  .footer {
    padding: 30px 40px;
    height: 100%;
    max-height: 300px;
  }
}

@media (max-width: 767px) {

  .footer {
    padding: 40px 60px;
  }
}

.footer__logos-social {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, auto);
  column-gap: 33px;
  align-items: center;
  justify-content: center;
}

.social__item {
  border: 2px solid #FFF;
  border-radius: 50%;
  transition: ease-in all 100ms;
}

.social__item:hover {
  border: 2px solid #EF4934;
  transition: ease-in all 100ms;
}

.social__item:active {
  transform: scale(.94);
  transition: ease-in all 100ms;
}

.footer__title {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #FFF;
  margin-top: 32px;
  word-break: break-word;
}

@media (max-width: 997px) {

  .footer__title {
    text-align: center;
  }
}
