@import url("./header.css");
@import url("./footer.css");
@import url("./font.css");


/*search section*/

.search {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  margin-top: 70px;
  background-color: #221F1F;
  color: #FFF;
}

.search__contain {
  width: 100%;
}

.search__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}


/*custom select*/

select[name="genre"] {
  border-radius: 6px;
  color: #FFF;
  background-color: #333;
  width: 114px;
  height: 36px;
  border: 0;
  outline: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
}

select option {
  color: #221F1F;
  background-color: #A9A9A9;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}


/*custom radio*/

.radio {
  display: flex;
  gap: 32px;
}

.inp__radio {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
  font-size: 14px;
  font-weight: 400;
}

.custom__radio {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #221F1F;
  border: solid 1px #FFF;
  border-radius: 50%;
  margin-right: 12px;
  vertical-align: sub;
}

.custom__radio::before {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url("/homeworks/artur.kobyliatsky_Allocene/GamesProject/img/check__radio.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: .2s ease-in;
}

.inp__radio:checked+.custom__radio::before {
  transform: translate(-50%, -50%) scale(1);
}


/*custom checkbox*/

.checkbox {
  display: flex;
  gap: 32px;
}

.inp__check {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
  font-size: 14px;
  font-weight: 400;
}

.custom__check {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #221F1F;
  border: solid 1px #FFF;
  border-radius: 6px;
  margin-right: 12px;
  vertical-align: sub;
}

.custom__check::before {
  content: " ";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("/homeworks/artur.kobyliatsky_Allocene/GamesProject/img/check__black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 2px;
  transform: translate(-50%, -50%) scale(0);
  transition: .2s ease-in;
}

.inp__check:checked+.custom__check::before {
  transform: translate(-50%, -50%) scale(1);
}


/*search*/

.inp__search {
  width: 342px;
  height: 36px;
  padding-left: 46px;
  border: none;
  outline: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  float: left;
}

.inp__search {
  background-image: url("/homeworks/artur.kobyliatsky_Allocene/GamesProject/img/search.svg");
  background-position: left 12px center;
  background-repeat: no-repeat;
}


/*button*/

.search__button {
  width: 75px;
  height: 36px;
  padding: 13px, 20px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  background-color: #EF4934;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  float: left;
}


/*main section*/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 160px);
}

.contain {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: start;
  margin-top: 180px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.text__heading {
  margin-top: 0;
  color: #221F1F;
  font-size: 48px;
  line-height: 32px;
  font-weight: 700;
}

.game__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}

.game__cod2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 275px;
  width: 260px;
  background-color: #ECECEC;
  padding: 12px 12px 22px;
  border-radius: 12px;
}

.cod2__general {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.cod2__general--img img {
  height: 90px;
  width: 90px;
  border-radius: 9px;
  object-fit: cover;
}

.cod2__general--desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 52px;
  width: 149px;
}

.cod2__general--desc h3 {
  font-size: 18px;
  margin: 0;
}

.cod2__general--desc p {
  font-size: 14px;
  margin: 0;
}

.cod2__description {
  font-size: 14px;
  line-height: 21px;
  text-align: start;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.cod2__description li b {
  font-weight: 700;
}

.cod2__description li {
  font-weight: 400;
  list-style-type: none;
  margin-top: 14px;
  margin-bottom: 14px;
}

.cod2__description li:last-child {
  margin-bottom: 0;
}