/* add header and default selectors */

@import "header/header.css";
@import "default selectors/default.css";

/* Filter */

.filter {
  width: 100%;
  background: #221F1F;
}

.filter__list__container {
  max-width: 1175px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 114px 40% 377px;
  gap: 86px;
  justify-content: space-between;
  padding: 12px 0;
}

.filter__select select {
  background: url("../img/icons/arrow.svg") #333 right no-repeat;
  background-position-x: calc(100% - 12px);
  width: 114px;
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  border-radius: 6px;
  -webkit-appearance: none;
  color: #FFF;
}

.filter__checkbox {
  display: flex;
  gap: 86px;
}

.checkbox__radio {
  display: flex;
  justify-content: center;
  gap: 32px;
  color: #FFF;
  font-size: 14px;
}

.checkbox__radio label {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.radioButton {
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: #221F1F;
  border: 1px solid #FFF;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.radioButton::after {
  background-color: #221F1F;
  border: 1px solid #FFF;
}

.radioButton:checked, .radioButton:active {
  background: url("../../GameProject/img/icons/Radio/_Radio/checkbox core.svg") no-repeat center #FFF;
}

.checkbox__checkbox {
  display: flex;
  gap: 32px;
  color: #FFF;
  font-size: 14px;
  align-items: center;
}

.checkbox__checkbox label {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #221F1F;
  border: 1px solid #FFF;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:checked {
  background: url("../../GameProject/img/icons/_Radio/check.svg") no-repeat center #221F1F;
  border: 1px solid #FFF;
}

.filter__search {
  display: flex;
  align-items: center;
}

.search__input {
  background: url("../../GameProject/img/icons/Search.svg") no-repeat left #FFF;
  background-position-x: calc(5% - 0px);
  flex: auto;
  height: 36px;
  border-radius: 6px 0 0 6px;
  padding-left: 46px;
}

.search__button {
  background-color: #EF4934;
  display: inline-flex;
  height: 36px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  border-radius: 0 6px 6px 0;
  color: #FFF;
}

/* Game Block */

.game {
  width: 1175px;
  display: flex;
  margin: 0 auto;
}

.game__contend {
  display: grid;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
}

.game__title-game {
  margin-top: 40px;
  font-size: 48px;
  font-weight: 700;
}

.game__item-blocks {
  display: grid;
  grid-template-columns: 275px 275px 275px 275px;
  gap: 25px;
}

.item-block__game-item {
  display: grid;
  grid-template-rows: 1fr;
  flex-direction: column;
  background-color: #ECECEC;
  padding: 12px;
  border-radius: 12px;
  row-gap: 22px;
}

.game-item-item__header {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.header__about {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.header__game-name {
  font-size: 18px;
  font-weight: 700;
}

.about__p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.game-item__info-list {
  display: flex;
  flex-direction: column;
}

.info-game {
  font-size: 14px;
  font-weight: 400;
  flex-direction: column;
  word-spacing: normal;
}

.info-game li {
  display: flex;
  margin-bottom: 16px;
}

.info-game li b {
  margin-right: 5px;
}

