/* add header and default selectors */

@import "header/header.css";
@import "default selectors/default.css";
@import "Footer/footer.css";

/* Filter */

.filter {
  width: 100%;
  background: #221F1F;
}

.filter__list {
  max-width: 1175px;
  /*margin: 0 auto;*/

  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  padding: 12px 0;
}

.filter__select select {
  background: url("../img/icons/arrow.svg") #333 right no-repeat;
  background-position-x: calc(100% - 12px);
  width: 114px;
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  border-radius: 6px;
  -webkit-appearance: none;
  color: #FFF;
}

.filter__checkbox {
  display: flex;
  gap: 63px;
}

.checkbox__radio {
  display: flex;
  /*justify-content: center;*/

  gap: 32px;
  color: #FFF;
  font-size: 14px;
}

.checkbox__radio label {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.radioButton {
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: #221F1F;
  border: 1px solid #FFF;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.radioButton::after {
  background-color: #221F1F;
  border: 1px solid #FFF;
}

.radioButton:checked, .radioButton:active {
  background: url("../../GameProject/img/icons/Radio/_Radio/checkbox core.svg") no-repeat center #FFF;
}

.checkbox__checkbox {
  display: flex;
  gap: 32px;
  color: #FFF;
  font-size: 14px;
  align-items: center;
}

.checkbox__checkbox label {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #221F1F;
  border: 1px solid #FFF;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:checked {
  background: url("../../GameProject/img/icons/_Radio/check.svg") no-repeat center #221F1F;
  border: 1px solid #FFF;
}

.filter__search {
  display: flex;
  align-items: center;
}

.search__input {
  background: url("../../GameProject/img/icons/Search.svg") no-repeat left #FFF;
  background-position-x: calc(5% - 0px);
  flex: auto;
  height: 36px;
  border-radius: 6px 0 0 6px;
  padding-left: 46px;
}

.search__button {
  background-color: #EF4934;
  display: inline-flex;
  height: 36px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  border-radius: 0 6px 6px 0;
  color: #FFF;
}

/* Game Block */

.game {
  display: flex;
  margin: 0 auto;
}

.game__contend__container {
  display: grid;
  width: 100%;
  gap: 40px;
}

.game__title-game {
  margin-top: 40px;
  font-size: 48px;
  font-weight: 700;
}

.game__item-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}

.item-block__game-item {
  display: grid;
  grid-template-rows: 1fr;
  flex-direction: column;
  background-color: #ECECEC;
  padding: 10px;
  border-radius: 12px;
  row-gap: 22px;
  max-width: 280px;
}

.game-item-item__header {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.header__about {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.header__game-name {
  font-size: 18px;
  font-weight: 700;
}

.about__p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.game-item__info-list {
  display: flex;
  flex-direction: column;
}

.info-game {
  font-size: 14px;
  font-weight: 400;
  flex-direction: column;
  word-spacing: normal;
}

.info-game li {
  display: flex;
  margin-bottom: 16px;
}

.info-game li b {
  margin-right: 5px;
}

/* Adaptation Cards */

@media (max-width: 650px) {

  .game__title-game {
    font-size: 28px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1220px) {

  .game__item-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 0 auto;
  }

  .game__title-game {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 920px) {

  .game__item-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: 0 auto;
  }
}

@media (max-width: 570px) {

  .game__item-blocks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin: 0 auto;
  }

  .item-block__game-item {
    max-width: 100%;
  }
}
/* Adaptation Filter */

.filter__icon {
  position: fixed;
  margin-top: 12px;
  padding: 0 5px;
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 114px;
  height: 35px;
  margin-left: 0;
  color: #221F1F;
  font-size: 14px;
  gap: 12px;
  background-color: #FFF;
  border-radius: 6px;
  cursor: pointer;
}

.filter__icon label {
  cursor: pointer;
  padding-right: 10px;
}

@media (max-width: 1050px) {

  .filter__icon {
    display: flex;
    position: relative;
  }

  .filter__checkbox {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /*align-items: center;*/

    position: fixed;
    /*height: %;*/

    gap: 20px;
    width: 100%;
    z-index: 50;
    overflow-y: auto;
    padding: 20px;
    background-color: #221F1F;
    border-radius: 6px;
    border: 1px solid #FFF;
    top: 15.5%;
    left: 0;
  }

  .filter__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
  }

  .filter__list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .filter__search {
    max-width: 100%;
  }

  .search__input {
    max-width: 377px;
  }

  .filter__select select {
    border: 1px solid #FFF;
  }
}


@media (max-width: 550px) {

  .filter__icon label {
    display: none;
  }

  .filter__search {
    max-width: 360px;
  }
}

