* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-family: Roboto;
}

.container {
  padding: 0 52px;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.header {
  background: #EF4934;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__nav-list {
  display: flex;
  gap: 50px;
}

.header__nav-link {
  color: #FFF;
  text-decoration: none;
  padding-bottom: 7px;
}

.header__nav-link:hover {
  border-bottom: 1px solid #FFF;
}

.header__nav-link:active {
  color: #FFF;
}

.about__container {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.about-me__title {
  color: #221F1F;
  font-size: 48px;
  font-weight: 700;
}

.about-me__text {
  color: #221F1F;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.about-me {
  max-width: 575px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-me__link {
  color: #EF4934;
}

.games {
  margin-top: 40px;
}

.games__content {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.games__title {
  font-size: 48px;
  font-weight: 700;
  color: #221F1F;
  margin-bottom: 40px;
}

.card {
  padding: 12px 12px 22px;
  max-width: 275px;
  border-radius: 12px;
  background: #ECECEC;
}

.card__top-content, .card__top-content-text {
  display: flex;
  gap: 12px;
}

.card__top-content {
  margin-bottom: 22px;
}

.card__top-content-text {
  flex-direction: column;
}

.card__text {
  margin-bottom: 16px;
}

.card__text span {
  font-weight: 600;
}

.card__text:last-child {
  margin-bottom: 0;
}

.login {
  margin-top: 80px;
  max-width: 575px;
  width: 100%;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login__title {
  color: #221F1F;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}

.login__input-wrapp {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.login__checkbox-wrapp {
  display: flex;
  gap: 12px;
}

.login__lable {
  color: #221F1F;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.login__input {
  border-radius: 6px;
  border: .6px solid #A9A9A9;
  background: #FFF;
  padding: 30px 20px;
  outline: transparent;
}

.login__input:focus, .login__input:focus-visible {
  border-bottom: 5px solid #EF4934;
  padding-bottom: 26px;
}

.login__input::placeholder {
  color: #A9A9A9;
  user-select: none;
}

.login__checkbox-wrapp {
  cursor: pointer;
}

.login__checkbox-checkmark {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid #EF4934;
  background: #FFF;
}

.login__checkbox-wrapp .login__checkbox-input:checked ~ .login__checkbox-checkmark {
  background-image: url("./images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.login__checkbox-lable {
  user-select: none;
}

.login__checkbox-input {
  display: none;
}

.login__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 70px;
  border-radius: 6px;
  background: #EF4934;
  box-shadow: 0 4px 30px 0 rgba(38, 58, 67, .15);
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}