.filters {
  display: grid;
  grid-area: btm-bar;
  height: 60px;
  background-color: var(--black);
  padding: 0 60px;
  margin-bottom: 16px;
}

.filters__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.radio__form, .checkbox__form {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.checkbox__input, .radio__input {
  position: absolute;
  opacity: 0;
}

.checkbox__input  + .checkbox__label, .radio__input + .radio__label {
  position: relative;
  cursor: pointer;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.checkbox__input + .checkbox__label::before {
  content: "";
  margin-right: 12px;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  border: 1px solid var(--white);
  border-radius: 6px;
  background: transparent;
}

.checkbox__input:checked + .checkbox__label::before {
  content: "\2713";
  color: var(--white);
  text-align: center;
}

.radio__input + .radio__label::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--white);
  background: var(--black);
  vertical-align: top;
  margin-right: 12px;
}

.radio__input:checked + .radio__label::before {
  content: "";
  background: radial-gradient(currentColor 30%, rgba(255, 0, 0, 0) 0);
}


.dropdown {
  position: relative;
  display: inline-block;
}

.filter-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #CCC;
  border-radius: 5px;
  position: absolute;
}

.filter-input::before {
  content: url("./homeworks/olena.ambitska_elena-ambitska/GamesProject/images/arrow.svg");
}

.search__container {
  display: flex;
  flex-direction: row;
}

.search__input {
  width: 377px;
  height: 36px;
  border: initial;
  background-image: url("/homeworks/olena.ambitska_elena-ambitska/GamesProject/images/search.svg");
  background-position-x: 12px;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: 46px;
  padding-right: 75px;
  border-radius: 6px;
}


.search__button {
  margin-left: -75px;
  height: 36px;
  width: 75px;
  background: var(--red);
  color: var(--white);
  border: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.select__options {
  width: 114px;
  height: 36px;
  background-color: var(--dark-gray);
  color: var(--white);
  border-radius: 6px;
  border: none;
  padding-left: 12px;
  outline: none;
}

