@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #221F1F;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #EF4934;
}

.link_list {
  list-style: none;
  color: #FFF;
  display: flex;
  gap: 50px;
}

.link:hover {
  text-decoration: underline;
}

.nav-link {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}

/* Form */

.form_games {
  background-color: #221F1F;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="radio"] {
  margin-left: 70px;
  border: #F2F2F2;
}

label[for="platform"],
label[for="online"],
label[for="new"],
label[for="old"] {
  color: #FFF;
}


input[type="submit"] {
  background-color: #EF4934;
  color: #FFF;
  margin: 0;
  padding: 12px 20px;
  border-radius: 0 6px 6px 0;
}

.filter_search {
  display: flex;
}

input[type="search"] {
  background-image: url("../icon/search_form.svg");
  background-position: 11px 7px;
  background-repeat: no-repeat;
  padding: 10px 90px 10px 50px;
  border-radius: 6px;
  margin-right: -7px;
}
/* --------- */

.hero {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 50px 40px;
}


.hero_flex {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}


.title_one {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
}

.link_MA {
  color: #EF4934;
}

.about_me {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}


/* Footer */

.footer {
  background-color: #221F1F;
  padding: 30px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer_text {
  color: #FFF;
  text-align: center;
}

a {
  text-decoration: none;
}

.footer_link {
  color: #FFF;
}

.title_about {
  line-height: 32px;
  font-size: 48px;
  font-weight: 700;
  padding-left: 40px;
}

.card {
  background-color: #ECECEC;
  width: 275px;
  border-radius: 12px;
  padding: 12px 12px 20px;
}

.card_cards {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.card_games {
  display: flex;
  gap: 10px;
  line-height: 21px;
}

.card_text {
  margin-left: 20px;
}

.info_game {
  list-style: none;
  margin: 0;
  padding: 14px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.name_game {
  margin: 0;
}

.bolt {
  font-weight: 600;
  font-size: 14px;
}

.list_card {
  padding-bottom: 10px;
}

.list_card:last-child {
  padding-bottom: 0;
}
