.calculator {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 50px;
}

.calculator__inputs {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.calculator__inputs > div {
  display: flex;
  flex-direction: column;
}

.calculator__inputs-number input {
  height: 30px;
  width: 100px;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  border-color: #EF4934;
}

.calculator__inputs-sign select {
  width: 70px;
  height: 34px;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  border-radius: 6px;
  border: 2px solid #EF4934;
}

.calculator__inputs--button button {
  height: 34px;
  width: 50px;
  line-height: 20px;
  font-size: 20px;
  border-radius: 6px;
  background-color: #EF4934;
  color: #FFF;
  cursor: pointer;
  position: relative;
  border: none;
  transition: .5s;
}

.calculator__inputs--button button:hover {
  box-shadow: 0 0 1rem #EF4934;
}

.calculator__inputs-result div {
  height: 34px;
  width: 200px;
  line-height: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.calculator__inputs-result span {
  display: flex;
  justify-content: start;
}

.calculator__outputs {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #EF4934;
}

.calculator__outputs-numbers {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.calculator__outputs-cards {
  display: flex;
  text-align: center;
  align-items: center;
  line-height: 50px;
  font-size: 50px;
  justify-content: center;
  gap: 5px;
}

.calculator__outputs-cards img {
  background-color: #FDB714;
  border-radius: 20px;
}

.output__first, .output__second, .output__result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.calculator__inputs-history {
  font-size: 16px;
  margin: 0 auto;
}

.calculator__inputs-history p {
  margin: 10px auto;
}