/* section filters */

.filters {
  min-height: 40px;
  display: grid;
  grid-template-columns: minmax(auto, 850px) repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(36px, auto);
  align-items: center;
  padding: 10px 20px;
}

.filters__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(36px, auto);
  row-gap: 10px;
  align-items: center;
  color: #FFF;
}

.filters__form-select select {
  height: 36px;
  width: 110px;
  border-radius: 6px;
  padding-left: 12px;
  background-color: #333;
  color: #FFF;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  appearance: none;
  cursor: pointer;
}

.filters__form-select {
  position: relative;
}

.filters__form-select::before,
.filters__form-select::after {
  position: absolute;
  content: "";
  display: block;
  height: 12px;
  border: 1px solid #FFF;
  border-radius: 2px;
  background-color: #FFF;
  top: 13px;
  pointer-events: none;
  transition: .5s all;
}

.filters__form-select::before {
  left: 86px;
  rotate: -45deg;
}

.filters__form-select::after {
  left: 95px;
  rotate: 45deg;
}

.filters__form-select.active::before {
  transform: rotate(-85deg);
}

.filters__form-select.active::after {
  transform: rotate(85deg);
}

.filters__form-select select:focus {
  outline: none;
}

.filters__form-choice {
  display: flex;
}

.filters__form-choice {
  height: 20px;
  display: flex;
  align-items: center;
}

.filters__form-choice input[type="radio"] {
  position: relative;
  appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: #221F1F;
  border: 1px solid #FFF;
  border-radius: 20px;
  outline: none;
  margin-left: 10px;
}

.filters__form-choice input[type="radio"]::after {
  content: "";
  background-color: #EF4934;
  transition: .5s all;
  height: 0;
  width: 0;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filters__form-choice input[type="radio"]:checked::after {
  height: 12px;
  width: 12px;
}

.filters__form-choice label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  margin-left: 10px;
}

.filters__form-size {
  display: flex;
  width: 150px;
}

.filters__form-size {
  height: 20px;
  display: flex;
  align-items: center;
}

.filters__form-size input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: #221F1F;
  border: 1px solid #FFF;
  border-radius: 6px;
  outline: none;
  margin-left: 10px;
  position: relative;
}

.filters__form-size input[type="checkbox"]::before {
  top: 1px;
  left: 0;
  position: absolute;
  transform: translate(8px, 13px) rotate(-50deg);
  transform-origin: left;
  content: "";
  background-color: #EF4934;
  width: 0;
  height: 2px;
  border-radius: 3px;
  text-align: center;
  transition: .25s all linear;
  transition-delay: 0s;
}

.filters__form-size input[type="checkbox"]::after {
  top: -1px;
  left: 1px;
  position: absolute;
  transform: translate(1px, 8px) rotate(45deg);
  transform-origin: left;
  content: "";
  background-color: #EF4934;
  width: 0;
  height: 2px;
  border-radius: 3px;
  text-align: center;
  transition: .25s all linear;
  transition-delay: .25s;
}

.filters__form-size input[type="checkbox"]:checked::after {
  width: 10px;
  transition-delay: 0s;
}

.filters__form-size input[type="checkbox"]:checked::before {
  width: 14px;
  transition-delay: .25s;
}

.filters__form-size label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  margin-left: 10px;
}

.filters__search {
  position: relative;
  max-width: 370px;
  height: 36px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.filters__search-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  cursor: pointer;
}

.filters__search-input {
  height: 100%;
  width: 100%;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 35px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.filters__search input:focus {
  outline: none;
}

.filters__search--button {
  position: relative;
  height: 36px;
  min-width: 70px;
  width: 100%;
  cursor: pointer;
  color: #FFF;
  background-color: #EF4934;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: .5s;
}

.filters__search--button:hover {
  box-shadow: 0 0 1rem #EF4934;
}

/* section pokemons */

.pokemons__title {
  padding-top: 40px;
}

.pokemons__cards {
  margin: 10px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  gap: 10px;
  justify-content: space-around;
}

.pokemons__cards-item {
  background-color: #ECECEC;
  border-radius: 20px;
}

@keyframes cardShake {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.pokemons__cards-item:hover {
  cursor: pointer;
  animation: cardShake .25s;
}

.card__pokemon {
  display: flex;
  align-items: center;
}

.card__pokemon-img {
  height: 90px;
  width: 90px;
  background-color: #FDB714;
  border-radius: 20px;
  margin: 10px;
}

.card__pokemon-name {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.card__pokemon-name span {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

.card__characteristics {
  margin: 10px;
}

.card__characteristics-type, .card__characteristics-weaknesses {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.card__characteristics strong {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.card__characteristics span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.card__characteristics-type span {
  display: inline-block;
  width: 69px;
  color: #FFF;
  background-color: #FDB714;
  text-align: center;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 1px;
}

.card__characteristics-weaknesses span {
  display: inline-block;
  min-width: 69px;
  color: #FFF;
  background-color: #FF87F3;
  text-align: center;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 1px;
}

.card__characteristics-type span:nth-child(3) {
  background-color: #EF4934;
}

.card__characteristics-weaknesses span:nth-child(3) {
  background-color: #3447EF;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-spinner {
  width: 60px;
  height: 60px;
  background-color: #FFF;
  border-radius: 50% ;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: frames .8s linear 0s infinite;
}

.loading-spinner::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: #F00;
  border-bottom: 4px solid;
  top: -2px;
}

.loading-spinner::before {
  content: "";
  position: absolute;
  background-color: #FFF;
  width: 10px;
  height: 10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 20px;
  right: 21px;
  z-index: 1;
}

@keyframes frames {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
