/* add header and default */

@import "header/header.css";
@import "default/default.css";
@import "Footer/footer.css";

/* Loading...*/

@import "loading/loading.css";

/* Filter */

.filter {
  width: 100%;
  background: #221F1F;
}

.filter__list {
  max-width: 1175px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  padding: 12px 0;
}

.filter__select {
  display: flex;
  gap: 20px;
}

.filter__select select {
  background: url("../img/icons/arrow.svg") #333 right no-repeat;
  background-position-x: calc(100% - 12px);
  width: 114px;
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  border-radius: 6px;
  -webkit-appearance: none;
  color: #FFF;
}

.filter__checkbox {
  display: flex;
  gap: 63px;
}

.checkbox__radio {
  display: flex;
  gap: 32px;
  color: #FFF;
  font-size: 14px;
}

.checkbox__radio label {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.radioButton {
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: #221F1F;
  border: 1px solid #FFF;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.radioButton::after {
  background-color: #221F1F;
  border: 1px solid #FFF;
}

.radioButton:checked, .radioButton:active {
  background: url("../img/icons/radio.svg") no-repeat center #FFF;
}

.checkbox__checkbox {
  display: flex;
  gap: 32px;
  color: #FFF;
  font-size: 14px;
  align-items: center;
}

.checkbox__checkbox label {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #221F1F;
  border: 1px solid #FFF;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:checked {
  background: url("../img/icons/check.svg") no-repeat center #221F1F;
  border: 1px solid #FFF;
}

.filter__search {
  display: flex;
  align-items: center;
}

.filter-icon-img {
  height: 30px;
  width: 30px;
  padding: 0 2px;
}

.search__input {
  background: url("../img/icons/Search.svg") no-repeat left #FFF;
  background-size: 21px 21px;
  background-position-x: calc(5% - 0px);
  flex: auto;
  height: 36px;
  border-radius: 6px 0 0 6px;
  padding-left: 46px;
}

.search__button {
  background-color: #EF4934;
  display: inline-flex;
  height: 36px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  border-radius: 0 6px 6px 0;
  color: #FFF;
}

.active {
  display: flex;
  height: 400px;
}

/* Game Block */

.game {
  display: flex;
  min-height: calc(100vh - 200px);
}

.game__contend__container {
  display: grid;
  width: 100%;
  gap: 40px;
}

.game__title-game {
  margin-top: 40px;
  font-size: 48px;
  font-weight: 700;
}

.game__item-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}

.item-block__game-item {
  display: grid;
  background-position: center;
  transition: all .5s ease;
  width: 100%;
  height: fit-content;
  min-height: 297px;
  flex-direction: column;
  background-color: #ECECEC;
  padding: 10px;
  border-radius: 12px;
}

.item-block__game-item:hover {
  background-position: 80%;
  transform: rotate3d(10, 20, 0, 25deg);
  box-shadow: 0 0 #EF4934, -1em 1em  .5em #EF4934;
}

.game-item-item__header {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  margin-bottom: 10px;
}

.header__about {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.header__icon {
  max-height: 90px;
  max-width: 90px;
}

.header__img {
  border-radius: 5px;
  transition: all .5s ease;
}

.header__img:hover {
  transform: translate(10px, 0%);
  width: 100px;
  height: 100px;
}

.cards-title {
  font-size: 18px;
  font-weight: 700;
  transition: all .5s ease;
}

.cards-title:hover {
  font-size: 19px;
  transform: translate(10px, 0%);
}

.about__p {
  transition: all .5s ease;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  height: 65px;
}

.about__p:hover {
  transform: translate(10px, 0%);
  font-size: 15px;
  overflow: inherit;
  height: fit-content;
  -webkit-line-clamp: inherit;
}

.game-item__info-list {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.info-game {
  flex-direction: column;
  word-spacing: normal;
  transition: all .5s ease;
}

.info-game:hover {
  font-size: 16px;
  transform: translate(10px, 0%);
}

.info-game li {
  display: flex;
  margin-bottom: 16px;
}

.item-block__game-item.hide {
  display: none;
}

.info-game li, b {
  font-size: 14px!important;
  font-weight: 400;
  margin-right: 5px;
}

.info-game li b { font-weight: 600}

/* Adaptation Cards */

@media (max-width: 650px) {

  .game__title-game {
    font-size: 28px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1220px) {

  .game__item-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 0 auto;
  }

  .game__title-game {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 920px) {

  .game__item-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: 0 auto;
  }
}

@media (max-width: 570px) {

  .game__item-blocks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin: 0 auto;
  }

  .item-block__game-item {
    max-width: 100%;
  }

  .filter__icon label {
    display: none;
  }
}
/* Adaptation Filter */

.filter__icon {
  position: fixed;
  margin-top: 12px;
  padding: 0 5px;
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 35px;
  margin-left: 0;
  color: #221F1F;
  font-size: 14px;
  gap: 12px;
  background-color: #FFF;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 1140px) {

  .filter__icon {
    display: flex;
    position: relative;
    max-width: 85%;
  }

  .open-filter {
    height: 270px;
  }

  .list {
    display: flex!important;
  }

  .filter__checkbox {
    display: none;
    flex-direction: row;
    justify-content: center!important;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 20px;
    gap: 40px;
    width: 100%;
    z-index: 50;
    overflow-y: auto;
    padding: 20px;
    top: 15.5%;
    left: 0;
  }

  .filter__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
    width: 100%;
  }

  .filter__list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .filter__search {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .search__input {
    max-width: 377px;
  }

  .filter__select select {
    border: 1px solid #FFF;
  }
}

@media (max-width: 550px) {

  .active-filter {
    min-width: 85px;
  }

  .filter__search {
    width: 200px;
  }

  .filter__icon {
    padding: 0;
    max-width: 85px;
  }
}

