/* add header and default */

@import "header/header.css";
@import "default/default.css";
@import "Footer/footer.css";

/* Forms */

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 575px;
  row-gap: 60px;
  margin-top: 80px;
}

/* Style for title */

.main__title {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 700;
}

/* Style for form */

.login__form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  font-weight: 500;
}

/* Style for email */

.form__email {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #A9A9A9;
  border-radius: 6px;
  padding: 26px 0 26px 20px;
  margin-top: 22px;
}

/* Style fot password */

.form__password {
  display: flex;
  flex-direction: column;
}

/* Style fot checkbox */

.form__checkbox {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #EF4934;
  cursor: pointer;
}

.form__checkbox label {
  cursor: pointer;
}

.checkbox:checked {
  background: url("../img/icons/check1.png") no-repeat center #FFF;
}

/* Style fot button */

.form__button {
  display: flex;
  width: 100%;
  padding: 24px 0;
  background-color: #EF4934;
  border-radius: 6px;
  justify-content: center;
  color: #FFF;
  font-weight: 600;
}

/* Error style */

.error {
  font-size: 14px;
  color: #EF4934;
  margin-top: 10px;
}
