* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  width: 1280px;
}

.header {
  display: grid;
  background-color: #EF4934;
  height: 80px;
  grid-template-columns: 10fr 3fr;
}

.logo {
  width: 55px;
  height: 57px;
  margin-left: 53px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: flex-start;
}

.navigation__line {
  padding-right: 50px;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto;
  color: #FFF;
}

.navigation__line--underline {
  text-decoration: underline;
}

.navigation__link {
  color: #FFF;
  text-decoration: none;
}

.heading--h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 40px;
}

.main {
  padding-left: 53px;
}

.games__main {
  margin-top: 40px;
}

.about__main {
  margin-top: 60px;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 63px;
}

.about__main__image {
  width: 535px;
  height: 356px;
  border-radius: 5%;
}

.about__main__article {
  display: block;
  width: 575px;
  height: 410px;
  padding-right: 53px;
}

.about__main__paragraf {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.link--red {
  color: #EF4934;
}

.card-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 25px;
  width: 1175px;
  height: 545px;
}

.card {
  width: 275px;
  height: 260px;
  padding: 12px 12px 22px;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 90px 1fr;
  gap: 12px;
  grid-template-areas: "image text1" "text2 text2";
  background-color: #ECECEC;
}

.card__image {
  grid-area: image;
}

.card__name {
  grid-area: text1;
}

.card__name__heading {
  font-size: 18px;
  font-weight: 700;
  color: #221F1F;
}

.card__name--14px {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 6px;
}

.card__text2 {
  grid-area: text2;
}

.loginPage__body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  border: none;
}

.fieldset__element {
  margin-top: 20px;
}

.fieldset__heading {
  text-align: center;
}

.fieldset__input {
  height: 40px;
  border: 2px solid #D1D1D1;
}

.fieldset__checkbox {
  margin-right: 10px;
}

.fieldset__button {
  background-color: #EF4934;
  color: #FFF;
  font-weight: 700;
  padding: 25px;
  border-radius: 5px;
  border: none;
}
