* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  width: 100%;
}

.main__heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 40px;
}

.main {
  padding-left: 53px;
}

.games__main {
  position: relative;
  top: 180px;
}

.aboutMe-block {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 63px;
}

.aboutMe-block__image {
  width: 535px;
  height: 356px;
  border-radius: 5%;
}

.aboutMe-block__article {
  display: block;
  width: 575px;
  height: 410px;
  padding-right: 53px;
}

.aboutMe-block__paragraf {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.link--red {
  color: #EF4934;
}

.filter {
  display: grid;
  grid-template-columns: 17fr 30fr 25fr 30fr;
  background-color: #221F1F;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  height: 60px;
  position: fixed;
  width: inherit;
  top: 80px;
  color: #FFF;
  z-index: 9999;
}

.filter-element {
  margin-right: 30px;
}

.filter__select {
  width: 114px;
  height: 36px;
  font-size: 14px;
}

.filter__search {
  display: flex;
  justify-content: flex-end;
}

.search__input-field {
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 10px;
}

.search__input {
  outline: none;
  border: none;
}

.search__svg {
  background-color: #FFF;
  height: 40px;
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.svg--search {
  width: 24px;
  height: 24px;
}

.search__button {
  height: 40px;
  width: 70px;
  background-color: #EF4934;
  border: none;
  color: #FFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 400;
}

.card-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 20px;
}

.card {
  width: 265px;
  height: 250px;
  border-radius: 10px;
  padding: 12px 12px 22px;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 90px 1fr;
  gap: 12px;
  grid-template-areas: "image card-name" "card-description card-description";
  background-color: #ECECEC;
}

.card__image {
  grid-area: image;
}

.card__name {
  grid-area: card-name;
}

.card__heading {
  font-size: 18px;
  font-weight: 700;
  color: #221F1F;
}

.card__paragraf {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 6px;
}

.card__description {
  grid-area: card-description;
}

.log-in__main {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
}

.log-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 575px;
  border: none;
}

.log-in__label {
  margin-top: 40px;
}

.log-in__heading {
  text-align: center;
}

.log-in__input {
  height: 70px;
  border: 2px solid #D1D1D1;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  margin-top: 22px;
}

.log-in__checkbox {
  margin-right: 10px;
}

.log-in__button {
  background-color: #EF4934;
  color: #FFF;
  font-weight: 600;
  font-size: 22px;
  padding: 35px 0;
  border-radius: 5px;
  margin-top: 40px;
  border: none;
}

.log-in__button:hover {
  cursor: pointer;
  background-color: #080;
}

.error {
  border: 2px #F00 solid;
  font-size: 20px;
  background-color: #000;
  color: #F00;
  padding: 10px;
  margin-top: 20px;
}

@media (min-width: 1500px) {

  .card {
    width: 350px;
    height: 330px;
    gap: 20px;
  }

  .card__heading {
    font-size: 24px;
  }

  .card__paragraf {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
  }
}
