/* main styles */

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: #221F1F;
}

a {
  text-decoration: none;
}

header, main, footer {
  display: flex;
  justify-content: center;
}

section {
  width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

/* section head  */

header {
  width: 100%;
  height: 5.4vw;
  background-color: #333;
  top: 0;
  left: 0;
  z-index: 3;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
}

.logo__title {
  color: #FFF;
  font-size: 15px;
  margin-left: 10px;
}

.navigation {
  width: 260px;
  line-height: 19px;
  font-size: 16px;
  font-weight: 500;
  display: grid;
  display: flex;
  justify-content: space-around;
}

.navigation__item {
  position: relative;
  display: block;
  transition: .5s all;
}

.navigation__item::after {
  position: relative;
  display: block;
  transition: .5s all;
  content: "";
  position: absolute;
  background-color: #FFF;
  color: #FFF;
  height: 2px;
  width: 100%;
  top: 22px;
  transform: scaleX(0);
}

.navigation__item:hover::after, .navigation__item.active::after {
  transform: scaleX(1);
}

.navigation a {
  color: #FFF;
}

/* section about */

main {
  height: 54.9vw;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, 530px);
  grid-auto-rows: minmax(275px,auto);
  gap: 50px;
  justify-content: space-around;
  margin-top: 140px;
  padding-bottom: 30px;
}

.about__contact {
  color: #EF4934;
  text-decoration: underline;
}

.about__contact__telegram, .about__contact__github {
  color: #000;
}

.about__logo {
  width: 530px;
  height: 275px;
  border-radius: 22px;
  background-color: #FDB714;
  transition: .5s all;
}

.about__logo__pokemon {
  transform: scale(1);
  transition: .5s all;
}

.about__logo__pokemon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 30px;
}

.about__logo:hover .about__logo__pokemon {
  transform: scale(1.1);
  transition: .5s all;
}

.about__logo__pokemon__ball {
  position: relative;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: .5s all;
}

.about__logo:hover .about__logo__pokemon__ball {
  transform: rotate(-30deg);
  transition: .5s all;
}

.about__logo__pokemon__ball::before {
  position: absolute;
  content: "";
  display: block;
  width: 90px;
  height: 45px;
  background-color: #FFF;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

.about__logo__pokemon__ball::after {
  position: absolute;
  content: "";
  display: block;
  width: 90px;
  height: 45px;
  background-color: #F00;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5px;
}

.about__logo__pokemon__ball__center {
  position: absolute;
  content: "";
  display: block;
  width: 90px;
  height: 5px;
  background-color: #333;
  z-index: 1;
  margin-top: 48px;
}

.about__logo__pokemon__ball__center::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-color: #FFF;
  border-radius: 50%;
  border: #333 solid 5px;
  top: -14px;
  left: 27px;
}

.about__text {
  max-width: 575px;
}

h1 {
  font-size: 46px;
  line-height: 32px;
  font-weight: 700;
}

.about__text__subscription {
  line-height: 32px;
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
}

/* section foot */

footer {
  height: 10.7vw;
  background-color: #EF4934;
  color: #FFF;
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social {
  width: 192px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.social__media {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  border-radius: 100%;
}

.subscription {
  margin: 0 auto;
  margin-top: 16px;
  line-height: 32px;
  font-size: 22px;
  font-weight: 400;
}

.subscription__link {
  color: #FFF;
}

/* section pokemons */

.pokemons {
  margin-top: 134px;
}

.pokemons__cards {
  margin: 20px auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-auto-rows: minmax (280px, auto);
  gap: 25px;
  justify-content: space-around;
}

.pokemons__cards-item {
  background-color: #ECECEC;
  border-radius: 20px;
}

.card__pokemon {
  display: flex;
  align-items: center;
}

.card__pokemon-img {
  background-color: #FDB714;
  border-radius: 20px;
  margin: 15px;
}

.card__pokemon-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.card__characteristics {
  margin: 15px;
}

.card__characteristics-type, .card__characteristics-weaknesses {
  margin-top: 10px;
}

.card__characteristics strong {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.card__characteristics span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.card__characteristics-type span {
  display: inline-block;
  width: 69px;
  color: #FFF;
  background-color: #FDB714;
  text-align: center;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 1px;
}

.card__characteristics-weaknesses span {
  display: inline-block;
  width: 69px;
  color: #FFF;
  background-color: #FF87F3;
  text-align: center;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 1px;
}

.card__characteristics-type span:nth-child(3) {
  background-color: #EF4934;
}

.card__characteristics-weaknesses span:nth-child(3) {
  background-color: #3447EF;
}