/* main styles */

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header, main, footer {
  display: flex;
  justify-content: center;
  /* position: fixed; */
}

section {
  width: 1280px;
  margin: 0 auto;
}

/* section head  */

header {
  width: 100%;
  height: 80px;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
}

.logo__title {
  color: #FFF;
  font-size: 15px;
  margin-left: 10px;
}

.navigation {
  min-width: 260px;
  line-height: 19px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.navigation__item {
  position: relative;
  display: block;
  transition: .5s all;
}

.navigation__item::after {
  position: relative;
  display: block;
  transition: .5s all;
  content: "";
  position: absolute;
  background-color: #FFF;
  color: #FFF;
  height: 2px;
  width: 110%;
  top: 22px;
  left: -2px;
  transform: scaleX(0);
}

.navigation__item:hover::after, .navigation__item.active::after {
  transform: scaleX(1);
}

.navigation a {
  margin: 0 15px;
  color: #FFF;
}

/* section about */

main {
  padding-top: 140px;
  min-height: 663px;
}

.about {
  display: flex;
  justify-content: space-between;
  width: 1175px;
  min-height: 479px;
}

.about__contact {
  color: #EF4934;
  text-decoration: underline;
}

.about__contact__telegram, .about__contact__github {
  color: #000;
}

.about__logo {
  width: 532px;
  height: 275px;
  border-radius: 22px;
  background-color: #FDB714;
  transition: .5s all;
}

.about__logo__pokemon {
  transform: scale(1);
  transition: .5s all;
}

.about__logo__pokemon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 30px;
}

.about__logo:hover .about__logo__pokemon {
  transform: scale(1.1);
  transition: .5s all;
}

.about__logo__pokemon__ball {
  position: relative;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: .5s all;
}

.about__logo:hover .about__logo__pokemon__ball {
  transform: rotate(-30deg);
  transition: .5s all;
}

.about__logo__pokemon__ball::before {
  position: absolute;
  content: "";
  display: block;
  width: 90px;
  height: 45px;
  background-color: #FFF;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

.about__logo__pokemon__ball::after {
  position: absolute;
  content: "";
  display: block;
  width: 90px;
  height: 45px;
  background-color: #F00;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5px;
}

.about__logo__pokemon__ball__center {
  position: absolute;
  content: "";
  display: block;
  width: 90px;
  height: 5px;
  background-color: #333;
  z-index: 1;
  margin-top: 48px;
}

.about__logo__pokemon__ball__center::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-color: #FFF;
  border-radius: 50%;
  border: #333 solid 5px;
  top: -14px;
  left: 27px;
}

.about__text {
  max-width: 575px;
}

.about__text__title {
  font-size: 46px;
}

.about__text__subscription {
  line-height: 32px;
  font-size: 22px;
  margin-top: 20px;
}

/* section foot */

footer {
  height: 160px;
  background-color: #EF4934;
  color: #FFF;
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social {
  width: 192px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.social__media {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  border-radius: 100%;
}

.subscription {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  line-height: 32px;
  font-size: 22px;
}

.subscription__link {
  color: #FFF;
}