body {
  font-family: "Roboto", sans-serif;
  margin-right: 20px;
  color: #221F1F;
  font-weight: 400;
  line-height: 32px;
  font-size: 22px;
}

.logic__title {
  font-size: 48px;
  font-weight: 700;
}

.field {
  display: flex;
  column-gap: 10px;
  margin: 20px;
}

.field__select,
.field__input,
.field__button,
.field__result {
  font-size: 22px;
  font-weight: 400;
}

.field__input,
.field__select {
  border-radius: 6px;
  border: .6px solid #A9A9A9;
}

.field__select {
  background-color: #333;
  color: #FFF;
}

.field__button {
  border-radius: 6px;
  background: #EF4934;
  border-width: 0;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
}
