.login {
  max-width: 625px;
  margin: 0 auto;
  color: #221F1F;
}

.login__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.label-input {
  font-size: 22px;
  font-weight: 500;
}

.login__input {
  width: 100%;
  padding: 30px 20px;
  margin-top: 22px;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border: 1px solid #A9A9A9;
  border-radius: 6px;
  outline: none;
}

.login__input:focus {
  border-bottom: 5px solid #EF4934;
  padding-bottom: 26px;
}

.login__input:focus::placeholder {
  color: #221F1F;
}

.label-checkbox {
  font-size: 14px;
  line-height: 21px;
}

.login__checkbox {
  margin-bottom: 40px;
}

.login__button {
  display: block;
  width: 100%;
  color: #FFF;
  background-color: #EF4934;
  border-radius: 6px;
  border: none;
  font-size: 22px;
  font-weight: 500;
  padding: 27px 0;
  margin-bottom: 40px;
}

.error {
  font-size: 12px;
  color: #F00;
  margin: -34px 0 20px;
}

@media (min-width: 768px) {

  .login {
    margin: 80px auto 0;
  }

  .login__title {
    font-size: 48px;
    margin-bottom: 60px;
  }
}

@media (min-width: 480px) {

  .error {
    font-size: 14px;
    margin: -36px 0 20px;
  }
}
