* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  outline: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper-all {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: inherit;
  max-width: 1280px;
  min-width: 400px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}

.wrapper {
  display: block;
  width: 100%;
}

.semiBold {
  font-weight: 500;
  line-height: 18px;
}

@media (min-width: 480px) {

  .container {
    padding-left: 50px;
    padding-right: 50px;  }
}
