* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: 1280px;
  min-width: 400px;
  margin: 0 auto;
}

.semiBold {
  font-weight: 500;
  line-height: 18px;
}
