* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: auto;
  margin: 0;
}


.headder-logo_img {
  text-decoration: none;
  color: #FFF;
}


.header-line {
  background-color: #EF4934;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-logo {
  margin-left: 53px;
}


.header-menu_list {
  color: #FFF;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 50px;
  margin-right: 52px;
}

.header-menu_link {
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
}


.header-menu_link:hover {
  text-decoration: underline;
}


/* MAIN інформація */

.section-about {
  margin: 60px 53px 0 52px;
}


.about-img {
  border-radius: 22px;
}


.about-content {
  display: flex;
  gap: 68px;
}


.about-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 40px;
}


.about-text {
  display: block;
  padding-right: 53px;
}


.about-paragraf {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}


.about-link {
  color: #EF4934;
}