@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");

.container {
  max-width: 1175px;
  display: flex;
  align-items: inherit;
}

.container img {
  width: 75%;
}

.container main {
  width: 75%;
}

.main {
  width: 575px;
  height: 409px;
  font-family: Roboto, sans-serif;
  color: #221F1F;
  font-size: 22px;
}

h1 {
  color: #221F1F;
  font-size: 48px;
  line-height: 32px;
  font-weight: 700;
}

.paragraph {
  color: #221F1F;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
}

.a {
  color: #EF4934;
}

header {
  max-width: 100%;
  background-color: #EF4934;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 53px;
}

.nav-items {
  display: flex;
  gap: 50px;
  list-style: none;
}

.nav-items a {
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  text-decoration: none;
}

.image {
  display: inline-flex;
  height: 356px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.cards-h1 {
  color: #221F1F;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  margin-left: 53px;
  margin-bottom: 50px;
}

.link {
  color: #EF4934;
}

.cards {
  margin: 50px 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.game-card {
  max-width: 275px;
  background-color: #ECECEC;
  padding: 12px 12px 22px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.game-title {
  margin-left: 12px;
}

.game-name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}

.text-game {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 0;
}

.upper-card {
  display: flex;
  align-items: inherit;
}

.lower-card {
  font-size: 14px;
  line-height: 18px;
  margin-left: 10px;
}

.main_login {
  font-family: Roboto,sans-serif;
  display: center;
  align-content: center;
  width: 575px;
  height: 520px;
  border-radius: 5px;
  margin-left: 353px;
}

.input {
  font-size: 20px;
  width: 100%;
  height: 70px;
  background-color: transparent;
  border-radius: 6px;
  border: .6px #A9A9A9 solid;
  margin-top: 22px;
  padding-left: 20px;
  box-sizing: border-box;
}

.button {
  text-align: center;
  font-size: 20px;
  width: 100%;
  height: 70px;
  border-radius: 6px;
  background-color: #EF4934;
  color: #FFF;
  box-shadow: 0 4px 30px 0;
}

.checkbox {
  width: 20px;
  height: 20px;
  padding: top 10px;
  content: "\2713";
  font-size: 30px;
  color: #008000;
  display: grid;
  justify-content: center;
  align-content: center;
}

.h1l {
  text-align: center;
}
