body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 250px;
}

.header {
  border: none;
  width: 100%;
  background-color: #EF4934;
}

.header__all {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.header__img {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 55px;
  height: 55px;
  justify-content: center;
  margin-left: 61px;
}

@media (max-width: 670px) {

  .header__all {
    display: flex;
    flex-direction: column;
  }

  .header__img {
    padding: 15px 0;
    display: block;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-content: center;
  }
}

.header__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

@media (max-width: 670px) {

  .header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    padding-bottom: 15px;
  }
}

.header__items a {
  text-decoration: none;
  color: #FFF;
}

.header__items_Calculator {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  margin-right: 40px;
}

.header__items_Calculator:active {
  text-decoration: underline;
}

.header__items_Games {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_Games:active {
  text-decoration: underline;
}

.header__items_About {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_About:active {
  text-decoration: underline;
}

.header__items_Login {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_Login:active {
  text-decoration: underline;
}

@media (max-width: 430px) {

  .header__items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 35px;
    padding-bottom: 15px;
  }
}

.title {
  display: flex;
  justify-content: center;
  color: #221F1F;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;

  @media (max-width: 700px) {
    font-size: 36px;
  }

  @media (max-width: 300px) {
    font-size: 24px;
  }
}

.field {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin: 20px;

  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

input {
  border: solid 1px #A9A9A9;
  border-radius: 6px;
  min-width: 6px;
  min-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  @media (max-width: 700px) {
    margin: 5px 0;
  }
}

select {
  border: solid 1px #A9A9A9;
  border-radius: 6px;
  min-width: 6px;
  min-height: 45px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  @media (max-width: 700px) {
    margin: 5px 0;
  }
}

button {
  min-width: 60px;
  min-height: 40px;
  border-radius: 6px;
  background-color: #EF4934;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: #FFF;
  border: none;
  cursor: pointer;

  @media (max-width: 700px) {
    margin: 5px 0;
  }
}

button:active {
  box-shadow: 0 0 0 1px #A9A9A9;
}

span {
  border: solid 1px #A9A9A9;
  border-radius: 6px;
  min-width: 155px;
  min-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  text-align: center;

  @media (max-width: 700px) {
    margin: 5px 0;
  }
}

.footer {
  margin-top: auto;
  background-color: #333;
  color: #FFF;
  padding: 10px;
  text-align: center;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

.footer__icons_row {
  display: flex;
  justify-content: center;
  gap: 33px;
  margin-top: 20px;
}

.footer__icons_all {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-color: #FFF;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.footer__icons_row img {
  width: 20px;
  height: 20px;
}

.footer__text {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #FFF;
}

.about__text_link {
  color: #FFF;
  text-decoration: none;
}

.about__text_link:hover {
  color: #EF4934;
}
