body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.header {
  border: none;
  width: 100%;
  background-color: #EF4934;
}

.header__all {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.header__img {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 55px;
  height: 55px;
  justify-content: center;
  margin-left: 61px;
}

@media (max-width: 670px) {

  .header__all {
    display: flex;
    flex-direction: column;
  }

  .header__img {
    padding: 15px 0;
    display: block;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-content: center;
  }
}

.header__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

@media (max-width: 670px) {

  .header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    padding-bottom: 15px;
  }
}

.header__items a {
  text-decoration: none;
  color: #FFF;
}

.header__items_Calculator {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  margin-right: 40px;
}

.header__items_Calculator:active {
  text-decoration: underline;
}

.header__items_Games {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_Games:active {
  text-decoration: underline;
}

.header__items_About {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_About:active {
  text-decoration: underline;
}

.header__items_Login {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_Login:active {
  text-decoration: underline;
}

@media (max-width: 430px) {

  .header__items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 35px;
    padding-bottom: 15px;
  }
}

.games__filter {
  display: flex;
  width: 100%;
  min-height: 60px;
  background-color: #221F1F;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1120px) {

  .games__filter {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 60px;
    background-color: #221F1F;
    align-items: center;
    gap: 25px;
  }
}

.datalist__games_filter select {
  min-width: 114px;
  border: none;
  background-color: #333;
  appearance: none;
  min-height: 36px;
  border-radius: 6px;
  align-items: center;
  gap: 33px;
  padding: 0 12px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px);
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  cursor: not-allowed;
}

.radio__filter {
  display: flex;
  gap: 12px;
  max-width: 240px;
}

.radio__games_filter {
  display: flex;
}

.radio__games_filter input {
  appearance: none;
  z-index: -1;
  opacity: 0;
  gap: 20px;
  cursor: not-allowed;
}

.radio__games_filter label {
  cursor: not-allowed;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.radio__games_filter label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #FFF;
  transition: background-color 300ms;
}

.radio__games_filter label::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  opacity: 0;
  background: #FFF;
  position: absolute;
  left: 6px;
}

.checkbox__games_filter label::before {
  content: "";
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid #FFF;
  padding: 3px;
  background-color: #221F1F;
  margin-right: 12px;
  text-align: center;
  line-height: 16px;
  font-size: 16px;
  transition: background-color 300ms;
}

.checkbox__games_filter label::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/check-white.png");
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 8px;
}

.radio__games_filter input:checked + label::before {
  background-color: #221F1F;
}

.radio__games_filter input:checked + label::after {
  opacity: 1;
}

.checkbox__filter {
  display: flex;
  align-items: center;
  gap: 90px;
  max-width: 80px;
  padding-right: 100px;
  cursor: not-allowed;
}

.checkbox__games_filter {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: not-allowed;
}

.checkbox__games_filter input {
  appearance: none;
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  cursor: not-allowed;
}

.checkbox__games_filter label {
  cursor: not-allowed;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  position: absolute;
  display: flex;
  align-items: center;
}

.checkbox__games_filter input:checked + label::before {
  background-color: #221F1F
}

.checkbox__games_filter input:checked + label::after {
  opacity: 1;
}

.search__bar {
  display: flex;
  padding-left: 20px;
  width: 100%;
  max-width: 377px;
  height: 36px;
  align-items: center;
  border-radius: 6px;
  background-color: #FFF;
  background-image: url("../img/Icons.png");
  background-position: left 5px center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  cursor: not-allowed;

  @media (max-width: 400px) {
    max-width: 250px;
  }

  @media (max-width: 280px) {
    max-width: 180px;
  }
}

.search__bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  cursor: not-allowed;
}

.search__bar button {
  display: flex;
  height: 36px;
  width: 25%;
  padding: 13px 20px;
  border: 0;
  border-radius: 0 6px 6px 0;
  align-items: center;
  justify-content: center;
  background-color: #EF4934;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  cursor: not-allowed;
}

.search__bar button:active {
  box-shadow: 0 0 0 1px #A9A9A9;
}

.Games .Games__title {
  margin: 60px 0 0 85px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
}

@media (max-width: 940px) {

  .Games .Games__title {
    margin: 60px 0 0 85px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
  }
}

@media (max-width: 670px) {

  .Games .Games__title {
    display: flex;
    align-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}

@media (max-width: 340px) {

  .Games .Games__title {
    margin: 40px 0 20px 55px;
    display: flex;
    align-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}

.card__container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 275px 275px 275px 275px;
  column-gap: 25px;
  grid-template-rows: 310px;
  row-gap: 80px;
  justify-content: center;
  min-height: auto;
}

@media (max-width: 1250px) {

  .card__container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 275px 275px 275px;
    column-gap: 25px;
    grid-template-rows: 310px;
    row-gap: 80px;
    justify-content: center;
    min-height: auto;
  }
}

@media (max-width: 970px) {

  .card__container {
    margin: 60px 60px 0 0;
    display: grid;
    grid-template-columns: 275px 275px;
    column-gap: 25px;
    grid-template-rows: 310px;
    row-gap: 80px;
    align-content: center;
    justify-content: center;
    min-height: auto;
  }
}

@media (max-width: 670px) {

  .card__container {
    margin: 60px 60px 0 0;
    display: grid;
    grid-template-columns: 275px;
    column-gap: 25px;
    grid-template-rows: 310px;
    row-gap: 80px;
    align-content: center;
    justify-content: center;
    min-height: auto;
  }
}

@media (max-width: 340px) {

  .card__container {
    display: grid;
    grid-template-columns: 250px;
    column-gap: 25px;
    grid-template-rows: 310px;
    row-gap: 80px;
    align-content: center;
    justify-content: center;
    min-height: auto;
  }
}

.Games__cards_desc {
  margin-bottom: 5px;
  border-radius: 12px;
  padding: 12px 12px 22px;
  background-color: #ECECEC;
  height: 280px;
}

.Games__cards_top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 12px;
  grid-template-rows: 90px;
  row-gap: 16px;
  justify-content: center;
}

.Games__cards_top_img {
  width: 90px;
  height: 90px;
  justify-content: center;
  border-radius: 8px;
}

.Games__cards_top_text {
  padding-top: 0;
  margin-top: 0;
}

.Games__cards_top_text_title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.Games__cards_top_text_p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 0;
}

.Games__cards_btm {
  padding-top: 5px;
}

.Games__cards_btm {
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.footer {
  background-color: #221F1F;
  border: none;
  width: 100%;
  min-height: 100px;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

.footer__icons_row {
  display: flex;
  justify-content: center;
  gap: 33px;
  margin-top: 20px;
}

.footer__icons_all {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-color: #FFF;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.footer__icons_row img {
  width: 20px;
  height: 20px;
}

.footer__text {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #FFF;
}

.about__text_link {
  color: #FFF;
  text-decoration: none;
}

.about__text_link:hover {
  color: #EF4934;
}
