body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  border: none;
  width: 100%;
  background-color: #EF4934;
}

.header__all {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.header__img {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 55px;
  height: 55px;
  justify-content: center;
  margin-left: 61px;
}

@media (max-width: 670px) {

  .header__all {
    display: flex;
    flex-direction: column;
  }

  .header__img {
    padding: 15px 0;
    display: block;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-content: center;
  }
}

.header__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

@media (max-width: 670px) {

  .header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    padding-bottom: 15px;
  }
}

.header__items a {
  text-decoration: none;
  color: #FFF;
}

.header__items_Calculator {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  margin-right: 40px;
}

.header__items_Calculator:active {
  text-decoration: underline;
}

.header__items_Games {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_Games:active {
  text-decoration: underline;
}

.header__items_About {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_About:active {
  text-decoration: underline;
}

.header__items_Login {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_Login:active {
  text-decoration: underline;
}

@media (max-width: 430px) {

  .header__items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 35px;
    padding-bottom: 15px;
  }
}

.Login__table {
  margin: 0 auto;
  max-width: 575px;

  @media (max-width: 670px) {
    max-width: 500px;
  }

  @media (max-width: 500px) {
    max-width: 300px;
  }
}

.Login__table_title {
  display: flex;
  justify-content: center;
  color: #221F1F;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;

  @media (max-width: 670px) {
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 24px;
  }

  @media (max-width: 430px) {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 20px;
  }
}

.Login__table_email {
  margin-top: 20px;
}

.Login__table_email_title {
  color: #221F1F;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  padding-top: 10px;

  @media (max-width: 670px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: 500px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.Login__table_email_input {
  display: flex;
  justify-content: center;
  border: solid 1px #A9A9A9;
  border-radius: 6px;
  min-width: 575px;
  min-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: 670px) {
    display: flex;
    justify-content: center;
    min-width: 500px;
    min-height: 35px;
    font-size: 12px;
    line-height: 19px;
  }

  @media (max-width: 500px) {
    display: flex;
    justify-content: center;
    min-width: 300px;
    min-height: 30px;
    font-size: 10px;
    line-height: 17px;
  }
}

.Login__table_password {
  margin-top: 20px;
}

.Login__table_password_title {
  color: #221F1F;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  padding-top: 20px;

  @media (max-width: 670px) {
    display: block;
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: 500px) {
    display: block;
    font-size: 16px;
    line-height: 20px;
  }
}

.Login__table_password_input {
  display: flex;
  justify-content: center;
  border: solid 1px #A9A9A9;
  border-radius: 6px;
  min-width: 575px;
  min-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: 670px) {
    display: flex;
    justify-content: center;
    min-width: 500px;
    min-height: 35px;
    font-size: 12px;
    line-height: 19px;
  }

  @media (max-width: 500px) {
    display: flex;
    justify-content: center;
    min-width: 300px;
    min-height: 30px;
    font-size: 10px;
    line-height: 17px;
  }
}

.Login__table_verif {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding-top: 10px;
}

.Login__table_verif_input {
  position: absolute;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid #EF4934;
  cursor: pointer;
}

.Login__table_verif_text {
  position: relative;
  cursor: pointer;
}

.Login__table_verif_input:checked + label::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 6px;
  height: 14px;
  border: solid #EF4934;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.Login__table_verif_input::before {
  content: "";
  color: transparent;
  display: block;
  border-color: #FFF;
  background-size: contain;
}

.Login__table_verif_text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #221F1F;
  padding-left: 30px;

  @media (max-width: 500px) {
    font-size: 10px;
  }
}

.errors-container {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 10px;
  color: #FF2E2EBA;

  @media (max-width: 500px) {
    font-size: 10px;
  }
}

.Login__table_btn {
  padding-top: 10px;
}

.Login__table_btn_name {
  min-width: 580px;
  min-height: 55px;
  border-radius: 6px;
  background-color: #EF4934;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: #FFF;
  border: none;
  cursor: pointer;

  @media (max-width: 670px) {
    min-width: 500px;
    min-height: 35px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: 500px) {
    min-width: 305px;
    min-height: 30px;
    font-size: 16px;
    line-height: 20px;
  }
}

.Login__table_btn_name:active {
  box-shadow: 0 0 0 1px #A9A9A9;
}

.footer {
  margin-top: 100px;
  background-color: #333;
  color: #FFF;
  padding: 10px;
  text-align: center;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

.footer__icons_row {
  display: flex;
  justify-content: center;
  gap: 33px;
  margin-top: 20px;
}

.footer__icons_all {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-color: #FFF;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.footer__icons_row img {
  width: 20px;
  height: 20px;
}

.footer__text {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #FFF;
}

.about__text_link {
  color: #FFF;
  text-decoration: none;
}

.about__text_link:hover {
  color: #EF4934;
}
