body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.header {
  border: none;
  width: 100%;
  background-color: #EF4934;
}

.header__all {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.header__img {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 55px;
  height: 55px;
  justify-content: center;
  margin-left: 61px;
}

@media (max-width: 670px) {

  .header__all {
    display: flex;
    flex-direction: column;
  }

  .header__img {
    padding: 15px 0;
    display: block;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-content: center;
  }
}

.header__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

@media (max-width: 670px) {

  .header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    padding-bottom: 15px;
  }
}

.header__items a {
  text-decoration: none;
  color: #FFF;
}

.header__items_Calculator {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  margin-right: 40px;
}

.header__items_Calculator:active {
  text-decoration: underline;
}

.header__items_Games {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_Games:active {
  text-decoration: underline;
}

.header__items_About {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_About:active {
  text-decoration: underline;
}

.header__items_Login {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.header__items_Login:active {
  text-decoration: underline;
}

@media (max-width: 430px) {

  .header__items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 35px;
    padding-bottom: 15px;
  }
}

.about .about__all {
  margin: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

@media (max-width: 1220px) {

  .about .about__all {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1220px) {

  .about__img {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.about__all .about__text .about__text_title {
  margin-top: 0;
  padding-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  color: #221F1F;

  @media (max-width: 1220px) {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.about__all .about__text .about__text_inf {
  color: #221F1F;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;

  @media (max-width: 1220px) {
    margin-top: 25px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.about__text_link {
  color: #FFF;
  text-decoration: none;
}

.about__text_link:hover {
  color: #EF4934;
}

.about__all .about__text .about__text_link {
  color: #EF4934;
}

.footer {
  margin-top: auto;
  background-color: #333;
  color: #FFF;
  padding: 10px;
  text-align: center;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

.footer__icons_row {
  display: flex;
  justify-content: center;
  gap: 33px;
  margin-top: 20px;
}

.footer__icons_all {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-color: #FFF;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.footer__icons_row img {
  width: 20px;
  height: 20px;
}

.footer__text {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #FFF;
}
