@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #221F1F;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #EF4934;
}

.link_list {
  list-style: none;
  color: #FFF;
  display: flex;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 50px 40px;
}


.hero_flex {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}


.title_one {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
}

.link_MA {
  color: #EF4934;
}

p {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}


/* Footer */

.footer {
  background-color: #221F1F;
  padding: 20px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer_text {
  color: #FFF;
  text-align: center;
}

a {
  text-decoration: none;
}

.footer_link {
  color: #FFF;
}
