@import "./base.css";
@import "./header.css";
@import "./footer.css";

.success {
  min-width: 300px;
  padding: 0 var(--padding-container);
  max-width: 605px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.success__img {
  display: block;
  min-width: 200px;
  border-radius: 50%;
  border: 1px solid var(--color-accent);
}

.success__title {
  text-align: center;
  color: var(--color-dark);
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.success__text {
  text-align: center;
  font-size: 22px;
  line-height: normal;
  font-weight: 400;
}

.success__link {
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 27px;
  border-radius: 6px;
  background: var(--color-accent);
  box-shadow: 0 4px 30px 0 rgba(38, 58, 67, .15);
  color: #FFF;
  font-size: 22px;
  line-height: normal;
  font-weight: 600;
  transition: filter .3s ease-in-out;
}

.success__link:hover {
  filter: brightness(.9);
}

@media (min-width: 769px) {

  .success {
    margin: 40px auto;
    row-gap: 40px;
  }

  .success__title {
    font-size: 42px;
    line-height: 46px;
  }
}