@import "./base.css";
@import "./header.css";
@import "./footer.css";
@import "./card.css";

.filters {
  min-width: 300px;
  background-color: var(--color-dark);
  padding: 12px 0;
}

.filters__container {
  max-width: 1280px;
  padding: 0 var(--padding-container);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  border: none;
}

.filters__select-custom {
  position: relative;
  background-color: #333;
  border-radius: 6px;
}

.filters__select-custom-btn {
  padding: 13px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: var(--color-light);
  transition: color .3s ease-in-out;
}

.filters__select-custom-btn:hover {
  color: var(--color-accent);
}

.filters__select-list {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters__select-list--active {
  display: block;
}

.filters__select-option {
  padding: 13px 20px;
  cursor: pointer;
  background-color: #333;
  font-size: 16px;
  color: var(--color-light);
  transition: color .3s ease-in-out;
}

.filters__select-option:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.filters__select-option:hover {
  color: var(--color-accent);
}

.filters__select-option--selected {
  color: rgb(100, 200, 100);
}

.filters__group {
  display: flex;
  align-items: center;
  column-gap: 64px;
  border: none;
}

.filters__input {
  display: none;
}

.filters__custom {
  display: flex;
  align-items: center;
  color: var(--color-light);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  padding-left: 40px;
  transition: color .3s ease-in-out;
}

.filters__custom:hover {
  cursor: pointer;
  color: var(--color-accent);
}

.filters__custom::before,
.filters__custom::after {
  content: "";
  padding: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-light);
  background-color: var(--color-dark);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: border .3s ease-in-out;
}

.filters__custom:hover::before,
.filters__custom:hover::after {
  border: 1px solid var(--color-accent);
}

.filters__custom--radio::before {
  border-radius: 50%;
}

.filters__custom--radio::after {
  opacity: 0;
  border-radius: 50%;
  background-image: url("../images/icon-radio-filter.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.filters__input:checked+.filters__custom--radio::after {
  opacity: 1;
}

.filters__search {
  display: flex;
  border: none;
}

.filters__search-input {
  padding-left: 46px;
  background-color: var(--color-light);
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  border: 2px solid transparent;
  border-radius: 6px 0 0 6px;
  font-family: Roboto;
  color: var(--color-dark);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  transition: all .3s ease-in-out;
}

.filters__search-input:hover {
  border: 2px solid var(--color-accent);
}

.filters__search-input::placeholder {
  padding-right: 100px;
  background-color: var(--color-light);
  font-family: Roboto;
  color: #A9A9A9;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filters__search-input:focus {
  outline: none;
  border: 1px solid var(--color-accent);
  transition: border .3s ease-in-out;
}

.filters__btn-submit {
  cursor: pointer;
  padding: 13px 20px;
  border: none;
  border-radius: 0 6px 6px 0;
  background: var(--color-accent);
  color: var(--color-light);
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  transition: filter .3s ease-in-out;
}

.filters__btn-submit:hover {
  filter: brightness(.9);
}

.pokemons {
  padding: 40px 0;
}

.pokemons__container {
  max-width: 1280px;
  padding: 0 var(--padding-container);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
}

.pokemons__title {
  color: var(--color-dark);
  font-size: 40px;
  line-height: normal;
  font-weight: 700;
}

.pokemons__cards {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  gap: 25px;
  justify-items: center
}

.pokemons__card-item {
  max-width: 275px;
}

.pokemons__loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pokemons__loader-text {
  color: var(--color-dark);
  font-size: 40px;
}

.pokemons__loader-animation {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 3px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  border-top-color: var(--color-accent);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 769px) {

  .pokemons__title {
    font-size: 48px;
  }
}