* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

/* ============== BASIC JS =============================*/

.math__block {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #221F1F;
  font-family: Roboto;
  font-size: 22px;
}

.basic__tittle {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.basic__text {
  font-weight: 600;
  margin-bottom: 20px;
}

.list__item {
  font-weight: 400;
  margin-bottom: 15px;
}
