body {
  font-family: sans-serif;
  background-image: url("./images/img.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left;
}

.name {
  font: Roboto;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  position: right;
}

.text {
  font: Roboto;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  width: 575px;
  position: right;
}
