.games-filter {
  display: flex;
  width: 100%;
  min-height: 60px;
  background-color: #221F1F;
  align-items: center;
  justify-content: space-around;
}

.datalist-games-filter select {
  background: none;
  border: none;
  background-color: #333;
  appearance: none;
  min-height: 36px;
  border-radius: 6px;
  align-items: center;
  gap: 33px;
  padding: 0 12px;
  background-image: url("../Img/arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
}

/* Radio-input */

.radio-filter {
  display: flex;
  gap: 12px;
}

.radio-games-filter {
  display: flex;
}

.radio-games-filter input {
  appearance: none;
  z-index: -1;
  opacity: 0;
  gap: 20px;
}

.radio-games-filter label {
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.radio-games-filter label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #FFF;
  transition: background-color 300ms;
}

.radio-games-filter label::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  opacity: 0;
  background: #FFF;
  position: absolute;
  left: 6px;
}

.radio-date-games-sort label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #FFF;
  transition: background-color 300ms;
  margin-right: 12px;
  text-align: center;
  line-height: 16px;
  font-size: 16px;
  transition: background-color 300ms;
}

.radio-date-games-sort label::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  opacity: 0;
  background: #FFF;
  position: absolute;
  left: 6px;
}

.radio-games-filter input:checked + label::before {
  background-color: #221F1F;
}

.radio-games-filter input:checked + label::after {
  opacity: 1;
}

/* Checkbox-input */

.radio-date-sort {
  display: flex;
  align-items: center;
  gap: 32px
}

.radio-date-games-sort {
  display: flex;
  align-items: center;
  gap: 12px;
}

.radio-date-games-sort input {
  appearance: none;
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 20px;
  height: 20px;
  background-color: #FFF;
}

.radio-date-games-sort label {
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  position: relative;
  display: flex;
  align-items: center;
}

.radio-date-games-sort input:checked +  label::before {
  background-color: #221F1F
}

.radio-date-games-sort input:checked +  label::after {
  opacity: 1;
}

/* Search-bar */

.search-bar {
  display: flex;
  width: 100%;
  max-width: 377px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #FFF;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding-left: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.search-bar img {
  display: flex;
  flex-direction: flex-start;
  padding-left: 12px;
}

.search-bar button {
  display: flex;
  height: 36px;
  width: 25%;
  padding: 13px 20px;
  border: 0;
  border-radius: 0 6px 6px 0;
  align-items: center;
  justify-content: center;
  background-color: #EF4934;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
}


.main-section {
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.main-header {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.main-cards-container {
  display: flex;
  max-width: 1175px;
  align-items: flex-start;
  margin-top: 40px;
}

.card-list {
  display: grid;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 22px;
  gap: 22px;
  border-radius: 12px;
  background-color: #ECECEC;
  overflow: hidden;
}

.main-card-header {
  display: flex;
  gap: 12px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-grow: 1;
  overflow: hidden;
}

.card-img {
  width: 90px;
  height: 90px;
  border-radius: 8px;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 100%;
}

.short-description {
  font-size: 14px;
  font-weight: 400;
  max-height: 52px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  /* stylelint-disable value-no-vendor-prefix */

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* stylelint-enable value-no-vendor-prefix */
}

.card-actors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
}

.card-actors * {
  display: flex;
  width: auto;
  height: 10px;
  margin: 0;
  gap: 6px;
}

.card-actors .key {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
}

.card-actors .value {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
