@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  margin: 0;
}

.header {
  display: flex;
  padding: 11px 53px;
  justify-content: space-between;
  width: 100%;
  max-height: 80px;
  background-color: #EF4934;
  align-items: center;
  position: relative;
}

.header-logo {
  margin: 0;
}

.nav-menu ul {
  display: inline-flex;
  padding: 0;
  gap: 50px;
  list-style: none;
  margin: 0;
}

.nav-menu a {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}


.nav-menu a:hover {
  color: #1085B7;
}
