.main__calculator {
  padding-top: 140px;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.calculator__operand {
  height: 50px;
  padding-left: 10px;
  width: 200px;
  font-size: 20px;
  margin-right: 10px;
}

.calculator__operation {
  height: 50px;
  width: 80px;
  font-size: 20px;
  margin-right: 10px;
}

.calculator__result {
  display: flex;
  min-width: 100px;
  height: 50px;
  font-size: 20px;
  padding: 0 5px;
  justify-content: center;
  align-items: center;
  color: #C9C2C2;
  border: 2px #000 solid;
}

.calculator__result--calc {
  font-size: 30px;
  color: #000;
}

.calculator__button {
  padding: 12px 40px;
  color: #FFF;
  background-color: #E35734;
  border: none;
  font-size: 20px;
  margin-right: 10px;
  border: 2px #E35734 solid;
}

.comment-container {
  display: flex;
  justify-content: center;
  max-width: 600px;
  align-items: center;
  font-size: 32px;
  font-weight: 400;
  padding: 0 10px;
}

.comment-container--error {
  font-size: 48px;
  font-weight: 600;
  color: #E35734;
}

@media (max-width: 850px) {

  .calculator {
    flex-direction: column;
    height: max-content;
    padding: 10px;
  }

  .calculator__operand {
    margin-bottom: 10px;
    border: 2px #000 solid;
  }

  .calculator__operation {
    margin-bottom: 10px;
  }

  .calculator__button {
    margin-bottom: 10px;
  }

  .comment-container {
    font-size: 24px;
  }

  .comment-container--error {
    font-size: 24px;
  }

  .calculator__result {
    transform: translate(-5%);
  }
}
