.main__info {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #F00;
  font-size: 40px;
  font-weight: 700;
  transform: translate(-50%);
}

.main__info--disabled {
  display: none;
}

.filter {
  display: grid;
  grid-template-columns: 17fr 30fr 30fr 25fr 30fr;
  background-color: #221F1F;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  height: 60px;
  position: fixed;
  width: inherit;
  top: 80px;
  color: #FFF;
  z-index: 9999;
}

.filter-element {
  margin-right: 30px;
}

.filter__select {
  width: 114px;
  height: 36px;
  font-size: 14px;
}

.filter__search {
  display: flex;
  justify-content: flex-end;
}

.search__input-field {
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 10px;
}

.search__input {
  outline: none;
  border: none;
  height: 40px;
}

.search__svg {
  background-color: #FFF;
  height: 40px;
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.svg--search {
  width: 24px;
  height: 24px;
}

.search__button {
  height: 40px;
  width: 70px;
  background-color: #EF4934;
  border: none;
  color: #FFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 400;
}

.card-container {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  gap: 20px;
}

.games__main {
  position: relative;
  top: 180px;
  margin-bottom: 240px;
}

.card {
  width: 300px;
  height: max-content;
  border-radius: 10px;
  padding: 12px 12px 22px;
  display: grid;
  grid-template-columns: 90px 175px;
  grid-template-rows: 100px 1fr;
  gap: 12px;
  grid-template-areas: "image card-name" "card-description card-description";
  background-color: #ECECEC;
}

.card__image-container {
  grid-area: image;
}

.card__image {
  width: 90px;
  height: 85px;
  border-radius: 5px;
}

.card__name {
  grid-area: card-name;
  width: 200px;
}

.card__heading {
  font-size: 18px;
  font-weight: 700;
  color: #221F1F;
}

.card__paragraf {
  font-size: 14px;
  width: 250px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__paragraf--short {
  width: 180px;
}

.card__description {
  grid-area: card-description;
}

@media (min-width: 1500px) {

  .card {
    width: 350px;
    gap: 20px;
  }

  .card__heading {
    font-size: 24px;
  }

  .card__paragraf {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
  }
}
