@import url("./header.css");
@import url("./footer.css");
@import url("./font.css");
@import url("./index.css");

.wrapper-calculator {
  padding: 53px;
  justify-content: space-evenly;
}

.calculator {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: .7fr .2fr .7fr .2fr 1fr;
  gap: 20px;
}

.calculator-title {
  padding: 25px 0;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.calculator-description {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.calculator-description__text {
  padding: 10px 25px;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.input_number, .select-option {
  height: 80px;
  width: 95%;
  font-size: 20px;
  border-radius: 5px;
  padding: 0 5px;
}

.select-option {
  text-align: center;
  justify-content: center;
  font-size: 40px;
  appearance: none;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #EF4934;
  background-color: transparent;
}

.selected-option:hover {
  border: 2px solid #EF4934;
  cursor: pointer;
}

.calculator__label-foto,
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-top: 20px;
}

.calculator__input-foto {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result-timestamp {
  width: 100%;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  grid-column: 1 / span 5;
}

.img-container,
.img-container-result {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 20px;
  position: relative;
  justify-content: center;
}

.container-img {
  width: 90px;
  height: 90px;
  border-radius: 9px;
  margin-top: -70px;
}


@media (max-width: 1250px) {

  .calculator {
    height: 125px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 600px) {

  .calculator {
    height: 125px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
