body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #EF4934;
  height: 80px;
}

.header__box {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 53px;
}

.header__logo {
  width: 55px;
  height: 57px;
}

.header__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header__link {
  margin-left: 20px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  color: #FFF;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #FFF;
  opacity: 0;
  transition: opacity .3s;
}

.header__link:hover::after {
  opacity: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain {
  width: 100%;
  padding: 0 53px;
  display: grid;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content .heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
}

.game__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
  justify-items: center;
}

.game__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 275px;
  width: 260px;
  padding: 12px 12px 22px;
  border-radius: 12px;
  background: #ECECEC;
}

.card__content {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.card__content__img img {
  height: 90px;
  width: 90px;
  border-radius: 9px;
  object-fit: cover;
}

.card__content--info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 52px;
  width: 149px;
}

.card__content--info h3 {
  font-size: 18px;
  margin: 0;
}

.card__content--info p {
  font-size: 14px;
  margin: 0;
}

.card__content--info {
  font-size: 14px;
  line-height: 21px;
  text-align: start;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.card__content--info li strong {
  font-weight: 700;
}

.card__content--info li {
  font-weight: 400;
  list-style-type: none;
  margin-top: 14px;
  margin-bottom: 14px;
}

.card__content--info li:last-child {
  margin-bottom: 0;
}