@import "./variables.css";
@import "./header.css";
@import "./footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.login {
  padding: 0 15px;
  max-width: 605px;
  margin: 80px auto;
}

.login__title {
  text-align: center;
  margin-bottom: 60px;
  color: #221F1F;
  font-family: Roboto;
  font-size: 48px;
  line-height: 32px;
  font-weight: 700;
}

.login__label {
  display: block;
  margin-top: 40px;
  color: #221F1F;
  font-family: Roboto;
  font-size: 22px;
  line-height: normal;
  font-weight: 600;
}

.login__field {
  margin-top: 22px;
  padding: 30px 20px;
  display: block;
  width: 100%;
  border-radius: 6px;
  border: .6px solid #A9A9A9;
  background: #FFF;
  color: #221F1F;
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.login__field::placeholder {
  color: #A9A9A9;
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.login__field:focus {
  outline: none;
  border-bottom: 5px solid #EF4934;
}

.login__checkbox-input {
  display: none;
}

.login__checkbox-custom {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #221F1F;
  font-size: 14px;
  line-height: 21px;
}

.login__checkbox-custom::before {
  content: "";
  margin-right: 12px;
  padding: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid #EF4934;
  background-color: #FFF;
}

.login__checkbox-input:checked+.login__checkbox-custom::before {
  background-image: url("../images/icon-check-login.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.login__btn {
  margin-top: 40px;
  cursor: pointer;
  width: 100%;
  padding: 27px;
  border: none;
  border-radius: 6px;
  background: #EF4934;
  box-shadow: 0 4px 30px 0 rgba(38, 58, 67, .15);
  color: #FFF;
  font-family: Roboto;
  font-size: 22px;
  line-height: normal;
  font-weight: 600;
  transition: filter .3s ease-in-out;
}

.login__btn:hover {
  filter: brightness(.9);
}

.error {
  margin: 5px;
  color: #F00;
  font-size: 14px;
  line-height: 21px;
}