@import "./base.css";
@import "./header.css";
@import "./footer.css";

.login {
  min-width: 300px;
  padding: 0 var(--padding-container);
  max-width: 605px;
  margin: 40px auto;
}

.login__title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--color-dark);
  font-family: Roboto;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.login__label {
  margin-top: 60px;
  display: block;
  color: var(--color-dark);
  font-family: Roboto;
  font-size: 22px;
  line-height: normal;
  font-weight: 600;
}

.login__field {
  margin-top: 10px;
  padding: 30px 20px;
  display: block;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #A9A9A9;
  background: #FFF;
  color: var(--color-dark);
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border-bottom: 5px solid #A9A9A9;
}

.login__field::placeholder {
  color: #A9A9A9;
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.login__field:hover,
.login__field:focus {
  outline: none;
  border-bottom: 5px solid var(--color-accent);
}

.login__checkbox-input {
  display: none;
}

.login__checkbox-custom {
  margin-top: 60px;
  display: flex;
  align-items: center;
  color: var(--color-dark);
  font-size: 14px;
  line-height: 21px;
}

.login__checkbox-custom::before {
  content: "";
  margin-right: 12px;
  padding: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid var(--color-accent);
  background-color: #FFF;
}

.login__checkbox-input:checked+.login__checkbox-custom::before {
  background-image: url("../images/icon-check-login.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.login__btn {
  margin-top: 60px;
  cursor: pointer;
  width: 100%;
  padding: 27px;
  border: none;
  border-radius: 6px;
  background: var(--color-accent);
  box-shadow: 0 4px 30px 0 rgba(38, 58, 67, .15);
  color: #FFF;
  font-family: Roboto;
  font-size: 22px;
  line-height: normal;
  font-weight: 600;
  transition: filter .3s ease-in-out;
}

.login__btn:hover {
  filter: brightness(.9);
}

.error {
  position: absolute;
  margin: 5px;
  color: #F00;
  font-size: 14px;
  line-height: 21px;
}

.error::before {
  content: "x";
  margin-right: 5px;
}

@media (min-width: 769px) {

  .login {
    margin: 80px auto;
  }

  .login__title {
    margin-bottom: 60px;
    font-size: 42px;
    line-height: 46px;
  }

  .login__label {
    margin-top: 40px;
  }

  .login__field {
    margin-top: 22px;
  }

  .login__checkbox-custom {
    margin-top: 40px;
  }

  .login__btn {
    margin-top: 40px;
  }
}