@import "./header.css";
@import "./card.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.filters {
  background-color: #221F1F;
  padding: 12px 0;
}

.filters__container {
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  border: none;
}

.filters__select {
  appearance: none;
  padding: 13px 42px 13px 12px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #333;
  background-image: url("../images/icon-select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  font-family: Roboto;
  color: #FFF;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  transition: all .3s ease-in-out;
}

.filters__select:focus {
  outline: none;
  border: 1px solid #FFF;
  transition: border .3s ease-in-out;
}

.filters__group {
  display: flex;
  align-items: center;
  column-gap: 64px;
  border: none;
}

.filters__input {
  display: none;
}

.filters__custom {
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  padding-left: 40px;
}

.filters__custom::before,
.filters__custom::after {
  content: "";
  padding: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #FFF;
  background-color: #221F1F;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.filters__custom--radio::before {
  border-radius: 50%;
}

.filters__custom--checkbox::before {
  border-radius: 6px;
}

.filters__custom--radio::after {
  opacity: 0;
  border-radius: 50%;
  background-image: url("../images/icon-radio-filter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .3s ease-in-out;
}

.filters__custom--checkbox::after {
  opacity: 0;
  border-radius: 6px;
  background-image: url("../images/icon-check-filter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .3s ease-in-out;
}

.filters__input:checked+.filters__custom--radio::after {
  opacity: 1;
}

.filters__input:checked+.filters__custom--checkbox::after {
  opacity: 1;
}

.filters__search {
  display: flex;
  border: none;
}

.filters__search-input {
  padding-left: 46px;
  background-color: #FFF;
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  border: 1px solid transparent;
  border-radius: 6px 0 0 6px;
  font-family: Roboto;
  color: #221F1F;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filters__search-input::placeholder {
  background-color: #FFF;
  font-family: Roboto;
  color: #A9A9A9;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filters__search-input:focus {
  outline: none;
  border: 1px solid #EF4934;
  transition: border .3s ease-in-out;
}

.filters__btn-submit {
  cursor: pointer;
  padding: 13px 20px;
  border: none;
  border-radius: 0 6px 6px 0;
  background: #EF4934;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  transition: filter .3s ease-in-out;
}

.filters__btn-submit:hover {
  filter: brightness(.9);
}

.pokemons {
  padding: 40px 0;
}

.pokemons__container {
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
}

.pokemons__title {
  color: #221F1F;
  font-size: 48px;
  line-height: normal;
  font-weight: 700;
}

.pokemons__cards {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 25px;
}

.pokemons__card-item {
  max-width: 275px;
}