body {
  font-family: 'Roboto', sans-serif;
  color: #221F1F;
  font-weight: 400;
  line-height: 32px;
  font-size: 22px;
}

.body__title {
   font-weight: 700;
   font-size: 48px;
   line-height: 32px;
}