body {
  margin: 0;
}

h1,
p {
  color: #221F1F;
  line-height: 32px;
  text-align: left;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 24px;
}

p {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 32px;
}

a {
  color: #EF4934;
}

a:hover {
  color: #3354FA;
}
