.about_me_article {
  font-family: Roboto;
}

.about-me__body {
  margin: 0;
}

.about-me__section {
  width: 575px;
  height: auto;
  top: 140px;
  margin-left: 53px;
  gap: 24px;
}

.about-me__h1 {
  font-Weight: 700;
  font-size: 48px;
  color: #221F1F;
  margin-bottom: 15px;
}

.about-me__text {
  font-weight: 400;
  font-size: 22px;
  color: #221F1F;
  line-height: 32px;
}

.about-me__links {
  color: #EF4934;
}

.about-me__article {
  display: grid;
  grid-template-columns: auto auto;
  width: 1175px;
  height: 479px;
  left: 53px;
  border-radius: 22px;
}

.about-me__picture {
  width: 532px;
  height: 356px;
  left: 53px;
  margin-top: 48px;
  margin-left: 53px;
  border-radius: 22px;
}

.about-me__header {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr;
  align-content: center;
  background-color: #EF4934;
  height: 80px;
  font-family: Roboto;
  text-decoration: none;
}

.header__link {
  text-decoration: none;
  color: #FFF;
}

.header__link:hover {
  color: #1C2321;
  text-decoration: underline;
}

.about-me__logo {
  width: 55px;
  height: 57px;
  margin-left: 53px;
}

.about-me__header__menu {
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
  color: #FFF;
  Width: 51px;
  Height: 11px;
}

.about-me__header__menu:hover {
  color: #1C2321;
  text-decoration: underline;
}
