.body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

._container {
  max-width: 1219px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background: #EF4934;
  height: 80px;
  display: grid;
  grid-template: 1fr/ 1fr 1fr;
  width: 100%;
}

.header_logo {
  width: 55px;
  height: 57px;
  margin: 11px 0 11px 60px;
}

.header_menu {
  display: grid;
  justify-content: end;
}

.burger {
  display: none;
}

.header_ul {
  display: inline-grid;
  justify-items: end;
  grid-template: 1fr/ 78px 78px 78px 78px;
  list-style-type: none;
  font-family: Roboto, sans-serif;
  padding-right: 60px;
  align-items: center;
}

.header_li--underline {
  border-bottom: 2px solid #FFF;
  padding-bottom: 2px;
}

.header_li {
  color: #FFF;
  text-decoration: none;
}

.main {
  display: grid;
  justify-content: center;
  font-family: Roboto, sans-serif;
  margin-top: 30px;
}

.main_h1 {
  font-size: 48px;
  display: flex;
  justify-content: center;
}

.main_form {
  display: grid;
}

.form_p {
  display: grid;
}

.form_email {
  font-size: 22px;
  font-weight: 600;
}

.form_email--input {
  width: 500px;
  height: 70px;
  border-radius: 6px;
  border: 1px solid #A9A9A9;
  font-size: 22px;
  padding: 0 30px;
}

.form_email--input::placeholder {
  color: #A9A9A9;
  font-size: 14px;
}

.form_pass {
  font-size: 22px;
  font-weight: 600;
}

.form_pass--input {
  width: 500px;
  height: 70px;
  border-radius: 6px;
  border: 1px solid #A9A9A9;
  font-size: 22px;
  padding: 0 30px;
}

.checkbox_main {
  padding: 15px 0;
}

.form_button--p {
  display: flex;
}

.form_pass--input::placeholder {
  color: #A9A9A9;
  font-size: 14px;
}

.custom-checkbox::before {
  content: "✓";
  display: inline-block;
  background-size: contain;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 55%;
  top: 27%;
  transform: translate(-50%, -50%) scale(0);
}

.form_checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 3px;
  border-radius: 6px;
  border: 1px solid #EF4934;
  background: #FFF;
  vertical-align: sub;
  margin-right: 10px;
}

.form_checkbox:focus + .custom-checkbox {
  box-shadow: 0 0 0 1px #EF4934, 0 0 10px #B64B3B;
}

.form_checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.submit_button {
  width: 565px;
  height: 70px;
  background-color: #EF4934;
  color: #FFF;
  border: solid #EF4934;
  border-radius: 6px;
  font-size: 22px;
  font-weight: 600;
}

.footer {
  width: 100%;
  height: 160px;
  background: #221F1F;
}

.footer_ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0 0;
}

.footer_p {
  color: #FFF;
  font-size: 22px;
  text-align: center;
}

.footer_img {
  width: 100%;
}

@media (max-width: 1222px) {

  .header_logo {
    margin: 11px 0 11px 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .footer_p {
    font-size: 20px;
  }
}

@media (max-width: 767px) {

  .header {
    height: 50px;
  }

  .header_logo {
    width: 35px;
    height: 36px;
    margin: 6px 0 0 8px;
  }

  .main_h1 {
    font-size: 30px;
  }

  .form_email {
    margin: 0 auto;
  }

  .form_email--input {
    margin: 0 auto;
    width: 300px;
    height: 40px;
  }

  .form_pass {
    margin: 0 auto;
  }

  .form_pass--input {
    margin: 0 auto;
    width: 300px;
    height: 40px;
  }

  .checkbox_main {
    margin: 0 auto;
  }

  .submit_button {
    margin: 0 auto;
    width: 200px;
    height: 40px;
  }

  .footer {
    height: 90px;
  }

  .footer_img {
    width: 30px;
  }

  .footer_p {
    font-size: 10px;
  }

  .footer_ul {
    padding: 0;
    gap: 10px;
  }

  .burger {
    display: none;
  }


  .header_ul {
    position: fixed;
    right: -100%;
    background: rgba(0, 0, 0, 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 0;
    padding: 100px 40px 40px;
    -o-transition: right 400ms;
    transition: right 400ms;
    border-bottom-left-radius: 100px;
  }

  .burger:checked ~ .header_ul {
    right: 0;
  }

  .button_line {
    width: 30px;
    height: 3px;
    background: #FFF;
    margin: 2px 0;
    position: relative;
    transition: all .1s linear 200ms;
  }

  .burger:checked ~ .burger_button .button_line:nth-child(1) {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
  }

  .burger:checked ~ .burger_button .button_line:nth-child(2) {
    opacity: 0;
  }

  .burger:checked ~ .burger_button .button_line:nth-child(3) {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -6px;
  }

  .burger_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 1;
  }


  .header_li {
    font-size: 18px;
    line-height: 20px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 5px 10px;
    transition: all .2s linear;
  }
}

@media (max-width: 415px) {

  .form_email--input {
    margin: 0 auto;
    width: 250px;
    height: 40px;
  }

  .form_pass--input {
    margin: 0 auto;
    width: 250px;
    height: 40px;
  }

  .checkbox_main {
    margin: 0 auto;
  }
}
