.about_me_article {
  font-family: Roboto;
}

.about_me_section {
  width: 575px;
  height: 479px;
  top: 140px;
  left: 653px;
  gap: 24px;
}

.about_me_h1 {
  font-Weight: 700;
  font-size: 48px;
  color: #221F1F;
}

.about_me_text {
  font-weight: 400;
  font-size: 22px;
  color: #221F1F;
  line-height: 32px;
}

.about_me_links {
  color: #EF4934;
}
