.pokemons, .about, .calculator {
  text-decoration: none;
}

.enter-content {
  align-items: center;
  padding-bottom: 52px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.email {
  font-size: 22px;
  font-weight: 600;
}

.email-check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  font-weight: 600;
}

.input-email {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #A9A9A9;
  padding-block: 30px;
  padding-inline: 20px;
}

.password {
  font-size: 22px;
}

.password-check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  font-weight: 600;
}

.input-password {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #A9A9A9;
  padding-block: 30px;
  padding-inline: 20px;
}

.robot-check {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.label-checkbox {
  cursor: pointer;
}

.error {
  color: #EF4934;
  font-weight: 400;
}

.button-login {
  font-size: 22px;
  font-weight: 600;
  background-color: #EF4934;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 27px 48px;
  justify-content: center;
  border: 2px solid #EF4934;
  align-items: center;
  border-radius: 6px;
  gap: 10px;
}
