* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-result {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.button-return {
  font-size: 22px;
  font-weight: 600;
}

button {
  background-color: #EF4934;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  padding: 27px 258px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  gap: 10px;
  border: 1px solid #EF4934;
}

.social-networks {
  margin-block: 30px;
}
