body {
  width: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Header */

header {
  grid-row: 1 / 2;
  background: #EF4934;
  padding: 8px 0;
}

.nav__container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  box-sizing: border-box;
}

.logoTop {
  width: 64px;
  height: 64px;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 50px;
  justify-content: end;
}

li {
  list-style: none;
}

.navLink {
  text-decoration: none;
  color: #FFF;
  font: 500 16/24px Roboto;
}

.navLink:hover {
  text-decoration: underline;
}

.navLink:target {
  text-decoration: underline;
}

/* Content */

h1 {
  color: #221F1F;
  font: 700 48px/32px Roboto;
  margin: 0;
}

p {
  color: #221F1F;
  font: 400 14px/150% Roboto;
  margin: 0;
}

h3 {
  color: #221F1F;
  font: 700 18px/24px Roboto;
  margin: 0;
}

.headline2 {
  color: #221F1F;
  font: 600 14px/130% Roboto;
  margin: 0;
}

.item__value {
  color: #221F1F;
  font: 400 14px/150% Roboto;
  margin: 0;
}

main {
  grid-row: 2 / 3;
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-row-gap: 40px;
  padding: 40px 0;
}

.text__header {
  grid-row: 1 / 2;
}

/* Card container */

.card__container {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 25px;
}

.card__games {
  display: grid;
  height: auto;
  background-color: #ECECEC;
  border-radius: 12px;
  padding: 12px;
  grid-template-rows: auto auto;
  grid-row-gap: 12px;
}

.card__header {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: auto;
  grid-gap: 16px;
}

.card__image {
  width: 90px;
  height: 90px;
}

.text__gameInfo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 6px 16px;
  padding: 10px;
}

.text__gameInfo-item {
  display: flex;
  gap: 6px;
}

/* Footer */

footer {
  grid-row: 3 / 4;
  background: #221F1F;
}

.footer__container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "links"
    "text";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 24px;
  max-width: 100%;
  padding: 30px 0 40px;
}

.socialLinks {
  grid-area: links;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48px, 48px));
  grid-gap: 33px;
  justify-content: center;
}

.icon-wrapper {
  display: grid;
  place-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #FFF;
}

.iconSocial {
  width: 24px;
  height: 24px;
}

.footerText {
  grid-area: text;
  text-align: center;
}

.link__paragraph-white {
  color: #F2F2F2;
  font: 400 22px/32px Roboto;
  text-decoration: none;
}

.text__paragraph-white {
  color: #FFF;
  font: 400 22px/32px Roboto;
  margin: 0;
}