body {
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  height: 1017px;
}

.Project {
  background: #EF4934;
  height: 80px;
}

.header__in {
  padding: 0 52px 0 53px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 55px;
  height: 58px;
  position: relative;
}

.nav {
  font-size: 16px;
  font-family: Roboto, serif;
  gap: 50px;
  display: flex;
}

.nav__link {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

.title {
  margin: 100px 652px 0 53px;
}

h1 {
  font-family: Roboto, serif;
  font-size: 48px;
  font-weight: 700;
}
/*Main*/

.container {
  display: flex;
  width: 1175px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
  margin: 40px 53px 0 52px;
  position: relative;
}

.Card {
  background: #ECECEC;
  width: 251px;
  height: 226px;
  padding: 12px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 12px;
}

.image_header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  position: relative;
  gap: 12px;
  align-items: flex-start;
  top: 0;
  /*left: 12px;*/
  /*z-index: 1000;*/
}

.header {
  width: 149px;
  height: 70px;
  line-height: 150%;
  font-family: Roboto, serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.header__info {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.image {
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 8px;
}

.actors {
  margin: 0;
  padding: 0;
  width: 231px;
  height: 114px;
  left: 22px;
  bottom: 12px;
  position: absolute;
  font-family: Roboto, serif;
  font-size: 14px;
  list-style: none;
  line-height: 21px;
}
