.header {
  height: 80px;
  background-color: #333;
  display: flex;
  align-items: center;
}

.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 53px;
}

.nav__link {
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  margin-right: 50px;
}

.nav__link:hover {
  color: #FFF;
  text-decoration: underline;
}
