@import "default.css";
@import "header.css";


.container__title h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 80px 0 60px;
  padding: 0;
}

.container__forms-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.form_label,
.form_checkbox {
  font-size: 22px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

::placeholder {
  color: #A9A9A9;
  font-weight: 400;
  font-size: 14px;
}

.form-fields__checkbox {
  width: 575px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 40px;
}

.form-fields__input {
  width: 535px;
  height: 70px;
  border-radius: 6px;
  border: .6px solid #A9A9A9;
  margin: 22px 0 40px;
  padding: 0 20px;
  font-size: 14px;
}

:focus {
  outline: none;
}

input:focus {
  border: 2px solid #EF4934;
}

label[for="checkbox"] {
  margin-left: 12px;
  font-size: 14px;
  font-weight: 400;
}

.form-fields__checkbox input {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  border: 1px solid #EF4934;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background: url("../images/icons/checkbox/checkbox_on.png");
  background-repeat: no-repeat;
  background-position: center;
}

.form-fields__submit-button {
  width: 575px;
  height: 70px;
  background-color: #EF4934;
  border-radius: 6px;
  border: none;
  font-size: 22px;
  font-weight: 600;
  color: #FFF;
  padding: 0;
}

.form-fields__submit-button:hover {
  cursor: pointer;
  background-color: #333;
}

.errors-container {
  margin: 15px;
}
