@import "default.css";
@import "header.css";

.about-me {
  width: 1175px;
  height: 409px;
  margin: 65px auto;
  display: flex;
  flex-wrap: wrap;
}

.about-me__image {
  width: 532px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #FDB714;
  border-radius: 22px;
  margin: 0 68px 0 0;
}

.image__big {
  margin: 0;
  padding: 25px 0 0;
}

.image__small {
  margin: -15px 0 0;
  padding: 0;
  background-image: url("../images/index/small_pokemon_back.png");
  background-repeat: no-repeat;
  background-position: center;
}

.about-me__text-block {
  width: 532px;
}

.about-me__text-block h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 24px;
}

.about-me__text-block p {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 32px;
}

.about-me__text-block a {
  color: #EF4934;
  text-decoration: underline;
}
