body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
}

h1 {
  font-size: 46px;
  line-height: 32px;
  font-weight: 700;
  color: #EF4934;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.input-first, .input-second {
  height: 50px;
  width: 300px;
  border-radius: 6px;
  border-color: #EF4934;
  font-size: 30px;
}

.input-operation {
  height: 54px;
  width: 50px;
  border-radius: 6px;
  font-size: 30px;
  border: 2px solid #EF4934;
}

.button {
  height: 54px;
  width: 100px;
  background-color: #EF4934;
  border-radius: 6px;
  border: none;
  color: #FFF;
  font-size: 30px;
  cursor: pointer;
  position: relative;
}

.button:hover {
  background-color: #FF6C58;
  transition: .5s;
}

.button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 123%;
  height: 143%;
  background: #FF6C58;
  border-radius: 6px;
  filter: blur(5px);
  transition: .5s;
  opacity: 0;
}

.button:hover::before {
  opacity: .3;
}

.result {
  font-size: 30px;
}